.woocommerce-account{
    article{
        @extend %container;
        .entry-header{
            display: none;
           /* h1{
                font-size: 36px;
                text-transform: uppercase;
                @include media("<=desktop") {
                    font-size: 24px;
                }
            }*/
        }
        .entry-content{
            margin-top: 20px;
        }
        .woocommerce{
            display: flex;
            @include media("<=desktop") {
                flex-direction: column-reverse;
            }
            .woocommerce-MyAccount-navigation{
                width: 20%;
                margin-right: 20px;
                @include media("<=desktop") {
                    width: 100%;
                    margin-right: 0;
                    margin-top: 100px;
                }
            } 
        }
    }
    .woocommerce-MyAccount-content{
        width: calc(80% - 20px);
        @include media("<=desktop") {
            width: 100%;
        }
        mark {
            background: none;
        }
    }
    //EDIT PERSONAL DATA PAGE
    &.woocommerce-edit-account{
        .woocommerce-MyAccount-content{
            width: auto;
        }
        form{
            fieldset{
                border: 1px solid #333;
                margin: 20px 0;
                legend{
                    font-size: 22px;
                }
                span.password-input .show-password-input{
                    top: 40%;
                }
            }
        }
    }
    //EDIT ADDRESS PAGE
    &.woocommerce-edit-address{
        .woocommerce-MyAccount-content{
            width: 40%;
            @include media("<=desktop") {
                width: 100%;
            }
            .woocommerce-Address{
            width: 414px;
            height: auto;
            background-color: rgb(244, 244, 244);
            position: relative;
            padding: 16px 0 16px 0px;
            margin-top: 60px;
            @include media("<=desktop") {
                width: 100%;
            }
            &.u-column2{
                margin-top: 100px;
            }
            .woocommerce-Address-title{
                position: static;
                height: 70px;
                h3,h2{
                margin: 0;
                margin-top: -70px;
                font-size: 25px;
                text-align: left;
                }
                a{
                position: absolute;
                color: transparent; 
                text-decoration: none;
                padding-left: 20px; 
                display: inline-block;
                font-size: 0;
                width: 56px;
                height: 56px;
                background-color: #fff;
                bottom: 0;
                right: 0;
                padding: 0;
                margin: 0 15px 15px 0;
                transition-property: background-color,border-color,color,fill,stroke;
                transition-duration: .3s;
                z-index: 1;
                cursor: pointer;
                &:hover{
                    background-color: #000;
                    &:before{
                    filter: invert(100%) brightness(100%);
                    }
                }
                &:before{
                    position:absolute;
                    content: '';
                    background-image: url("../images/svg/edit.svg");
                    width: 22px;
                    height: 22px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    bottom: 50%;
                    background-color: #fff;
                    right: 50%;
                    transform: translate(50%,50%);
                }
                &:after{
                    content: "Edit Billing address";
                    font-size: 0;
                    height: 0;
                    width: 0;
                    overflow: hidden;
                    position: absolute;
                }
                }
            }
            address{
                font-size: 16px;
                padding: 0 16px;
                font-style: normal;
                min-height: 300px;
                margin: 0;
            }
            }
            form{
            .form-row{
                &#billing_address_1_field, &#billing_address_2_field, &#billing_country_field,
                &#shipping_address_1_field, &#shipping_address_2_field, &#shipping_country_field
                {
                label{
                    position: static;
                    transform: unset;
                }
                }
            }
            }
        }
    }
    &.woocommerce-orders{
        .woocommerce-MyAccount-content{
            width: calc(80% - 20px); 
            @include media("<=desktop") {
                width: 100%;
            }
        }
        .shop_table{
            border: 0;
            text-align: right;
            width: 100%;
            border-collapse: separate;
            margin-top: -20px;
            font-size: 16px;
            border-spacing: 0 20px;
            tbody{
                tr:last-child{
                    td,th{
                    border-bottom: 0;
                    }
                    
                }
            }
            tr{
                background-color: #f4f4f4;
                th{
                    font-weight: 700;
                    padding: 20px 12px;
                    border-bottom: 0;
                    &.woocommerce-orders-table__cell-order-number{
                        a{
                            text-decoration: none;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                    }
                
                td{
                    padding: 10px;
                    border-bottom: 0;
                    .wc-item-meta{
                    list-style: none outside;
                    margin: 0;
                    padding: 0;
                    
                    li{
                        display: flex;
                        strong{
                        font-weight: 500;
                        }
                    }
                    }
                    &.woocommerce-orders-table__cell-order-actions{
                        a {
                            padding: 8px 24px;
                            margin-left: 10px;
                            text-decoration: none;
                            // background-color: #f4f4f4;
                            text-transform: uppercase;
                            @extend %black-btn;
                            color: #fff;
                            &:last-of-type {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        
        }
    }
    &.woocommerce-view-order{
        font-size: 14px;
        header .header-menu{
            top: 80px;
        }
        .woocommerce-MyAccount-content{
            width: calc(80% - 20px);
            @include media("<=desktop") {
                width: 100%;
            }
            .woocommerce-order-details{
                h2{
                    font-size: 16px;
                    text-align: left;
                    margin: 0;
                }
                .woocommerce-table--order-details{
                    display: block;
                    padding: 20px;
                    text-align: left;
                    width: 100%;
                    border: 0;
                    background-color: #f4f4f4;
                    thead{
                        display: none;
                    }
                    tbody{
                        display: block;
                        width: 100%;
                        border: 0;
                        tr{
                            display: flex;
                            flex-wrap: wrap;
                            background-color: #fff;
                            margin: 20px 0;
                            border: 0;
                            padding: 10px 20px;
                            th{
                                font-weight: 700;
                                padding: 9px 12px;
                                border-bottom: 0;
                                }
                            
                                td{
                                padding: 10px;
                                border-bottom: 0;
                                &.product-thumbnail{
                                    img{
                                        max-width: 100px;
                                        max-height: 100px;
                                        object-fit: contain;
                                    }
                                    
                                }
                                &.product-name{
                                    & > a{
                                        font-weight: bold;
                                        text-decoration: none;
                                    }
                                    .price_wrapper{
                                        display: block;
                                        .amount{
                                            font-weight: bold;
                                        }
                                    }
                                }
                                .wc-item-meta{
                                    list-style: none outside;
                                    margin: 0;
                                    padding: 0;
                                    
                                    li{
                                    display: flex;
                                    strong{
                                        font-weight: 500;
                                    }
                                    }
                                }
                            }  
                        }
                    }
                    
                    
                    tfoot{
                    tr:last-child{
                        td,th{
                        border-bottom: 0;
                        }
                        
                    }
                    }
                    
                }
            }
            .woocommerce-customer-details{
                .addresses{
                    display: flex;
                    gap: 50px;
                    @include media("<=desktop") {
                        flex-wrap: wrap;
                        gap:0;
                        .woocommerce-column{
                            width:100%;
                            text-align: center;
                        }
                    }
                    h2{
                        font-size: 16px;
                    }
                    
                }
            }
        }

    }
    form#yith-wcwl-form{
        flex-wrap: wrap-reverse;
        .wishlist_table{
            font-size: 14px;
            display:block;
            width: 100%;
            // &[data-pagination="no"]{
            //     tbody{
            //         tr{
            //             height: auto;
            //             border: 0;
            //             display: block;
            //             font-weight: bold;
            //             background-color: transparent;
            //             font-size: 16px;
            //             text-transform: uppercase;
            //         }
            //     }
            // }
            thead{
                display: none;
            }
            tbody{
                display: flex;
                flex-wrap: wrap;
                tr{
                    width: calc(33% - 16px);
                    background-color: rgb(244, 244, 244);
                    padding: 16px;
                    margin: 0 16px 16px 0; 
                    position: relative;
                    height: 224px;  
                    border: 1px dashed #e4e4e4; 
                    @include media("<=desktop") {
                        width: 100%;
                    }            
                    td.product-thumbnail{
                        background-color:#fff;
                        width: 100px;
                        height: 100px;
                        border: 1px solid #e4e4e4;
                        padding: 8px;
                        transition-duration: .3s;
                        transition-property: background-color,border-color,color,fill,stroke;
                        &:hover{
                            border: 1px solid rgba(0,0,0,0.5);
                        }
                        a{
                            img{
                                object-fit: cover;
                            }
                        }
                    }
                    td.product-add-to-cart{
                        margin-top: 0;
                        position: absolute;
                        bottom: 16px;
                        left: 16px;
                        right: calc(100% - 70px);
                        display: flex;
                        grid-column: auto;
                        padding-top: 0;
                        width: 120px;
                        justify-content: space-between;
                        a{
                            background-color:#fff;
                            &:hover{
                                background-color:#000;
                            }
                        }
                    }
                    &:has(>td.wishlist-empty){
                        height: auto;
                        border: 0;
                        display: block;
                        font-weight: bold;
                        background-color: transparent;
                        font-size: 16px;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .woocommerce-message {
            background-color: #026805;
            color: #fff;
            border: 0;
            font-size: 16px;
            list-style-type: none;
            padding: 16px 16px 16px 36px;
            margin: 0 0 20px 0;
            position: relative;
            &::before {
                content: '';
                background-image: url("../images/svg/check-circle.svg");
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 10px;
                width: 20px;
                height: 20px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                filter: invert(1);
            }
            a {
                color: #fff;
                
                &:hover {
                    color: #fff;
                    opacity: .7;
                }
            }
        }
    }
}
.woocommerce-MyAccount-navigation{
    ul{
        display: block;
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 0;
        li{                
            position: relative;
            background-color: rgb(244, 244, 244);
            padding-left: 55px;
            height: 62px;
            border-bottom: 1px solid #fff;
            transition-property: background-color,border-color,color,fill,stroke;
            transition-duration: .3s;
            display: flex;
            align-items: center;
            &.is-active{
                background-color: #000;
                color: #fff;
                &:before{
                    filter: invert(100%) brightness(100%);
                }
                a{
                    text-decoration: underline;
                    color:#fff;
                }
            }
            a{
                text-decoration: none;
                font-size: 14px;
                &:hover{
                    text-decoration: underline;
                }
            }
            &:before{
                width: 20px;
                height: 20px;
                position: absolute;
                left: 25px;
                top: 22px;
                content: "";
                background-size: 20px;
            }
            &.woocommerce-MyAccount-navigation-link--orders{
                &::before{
                    background-image: url(../images/svg/doc.svg);
                    
                }
            }
            &.woocommerce-MyAccount-navigation-link--edit-account{
                &::before{
                    background-image: url(../images/svg/user.svg);
                    
                }
            }
            &.woocommerce-MyAccount-navigation-link--edit-address{
                &::before{
                    background-image: url(../images/svg/car.svg);
                    transform: scaleX(-1);  
                }
            }
            &.woocommerce-MyAccount-navigation-link--wishlist{
                &::before{
                    background-image: url(../images/svg/heart.svg);
                    
                }
            }
            &.woocommerce-MyAccount-navigation-link--customer-logout{
                /*&::before{
                    //background-image: url(../images/svg/car.svg); 
                }*/
                &:hover{
                    background-color: #000;
                    color: #fff;
                    &:before{
                        filter: invert(100%) brightness(100%);
                    }
                    a{
                        text-decoration: underline;
                        color:#fff;
                    }
                }
                
            }
        }
    }
}


.my_account_menu_wrapper{
    .woocommerce-MyAccount-navigation{
        li.woocommerce-MyAccount-navigation-link--customer-logout{
            display: none;
        }
    }
}


.logout_popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 9999;
    width: 30rem;
    height: 18rem;
    .logout_popup_content{
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        height: 100%;
        align-items: center;
        p{
            display: flex;
            justify-content: center;
            width: 100%;
            flex-direction: column;
            flex-grow: 4;
            text-align: center;
            font-size: 16px;
        }
        .popup_btns{
            display: flex;
            #confirm_logout{
                @extend %white-btn;
                margin-right: 5px;
                width: 144px; 
                display: block;
                text-align: center;
            }
            #cancel_logout{
                @extend %black-btn;
                margin-left: 5px;
                width: 144px; 
                display: block;
                text-align: center;
            }
        }
    }
}





//FORM FOR ACCOUNT PAGE
form{
    .form-row {
        label {
          &[for=password_current],&[for=password_1],&[for=password_2]{
            &.focused{
                left: -8%;
            }

          }
        }
        .password-input {
            position: relative;
            display: block;
            .show-password-input {
              position: absolute;
              top: -3px;
              right: 10px;
              cursor: pointer;
              
              &::after {
                font-family: WooCommerce;
                // speak: never;
                font-weight: 400;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                content: "\e010";
                text-decoration: none;
                font-size: 16px;
              }
            }
        }
    }
    .checkbox_wrapper{
      label{
        display: flex;
        gap: 15px;
        input[type="checkbox"]{
          appearance: none;
          width: 24px;
          height: 24px;
          border: 2px solid #000;
          flex-shrink: 0;
          display: inline-grid;
          place-content: center;
          cursor: pointer;
          &:checked{
            background-color: rgb(66,66,66);
            &:before{
              content:url("../images/svg/check.svg");
              width: 16px;
              height: 20px;
              color: #fff;
              filter: invert(100%) brightness(100%);
            }
          }
        }
        p{
          font-size: 16px;
        }
      }
     
    }
    .woocommerce-privacy-policy-text{
      display: none;
    }
    button{
      @extend %black-btn;
      width: 100%;
      text-transform: uppercase;
      text-align: center;
      display: block;
      font-weight: bold;
      line-height: 24px;
    }  
}

//lost password
.woocommerce-lost-password{
    .entry-content{
        .woocommerce{
            display: block;
            form{
                max-width: 500px;
                margin: auto;
                @include media("<=mobile") {
                    max-width: 300px;
                }
                .form-row label[for=password_1].focused,.form-row label[for=password_2].focused{
                    left: -10px;
                }
                .form-row .password-input .show-password-input{
                    top:20px;
                }
            }
        }
    }
}




