.woocommerce-products-header {
    position: relative;
    width: 100%;
    height: 100%;
    &:not(.empty) {
        height: 245px;
        @include media(">desktop") {
            height: 605px;
        }
    }
    & > .section-image-text {
        width: 100%;
        height: 100%;   
        display: inline-block;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media (min-width: 1025px) {
                display: block;
            } 
            z-index: 1;           
        }

        .text_image_background {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
            font-weight: 400;
            line-height: 36px;
            text-align: center;
            text-transform: none;
            text-shadow: 2px 2px 13px #000;
            color: #fff;
            padding: 0 24px;  
            z-index: 2;  
            max-width: 1420px;
            @include media(">desktop") {
                font-size: 80px;  
                line-height: 1;    
                padding: 0 60px;
            }      
        }
    }

    &.empty > .section-text {
        margin: 0;
        .only_text {
            width: auto;
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
            text-align: left;
            text-transform: uppercase;
            text-shadow: none;
            color: #000; 
            padding: 0 16px;          
            padding-top: 16px;
            margin: 0;
            @include media(">desktop") {
                padding: 0 60px;
                padding-top: 16px;
                font-size: $font-size-heading2;
                line-height: 48px;
                text-align: center;
            } 
        }
    }

}

.breadcrumb_section {
    padding: 0 16px;
    .woocommerce-breadcrumb {
        margin-top: 8px;
        margin-bottom: 16px;
        font-size: 10px;
        line-height: 16px;
        text-transform: capitalize;
        text-align: right;
        @extend %center-flex;
        justify-content: flex-start;
        @include media(">desktop") {
            justify-content: center;
            font-size: 12px;
            line-height: 20px;
            text-align: center;
            margin: 16px 0;
        }
        .w-breadcrumb {
            font-size: 10px;
            line-height: 16px;
            text-transform: capitalize;
            @media (min-width: 1025px) {
                font-size: 12px;
                line-height: 20px;
                text-align: center;
            }
            a {
                display: inline-flex;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

/*.container::after {
    content: "";
    display: table;
    clear: both;
}*/

.slider_cat_section {
    margin-bottom: 40px;
    // padding-left: 16px;
    @include media(">desktop") {
        padding: 0;
    }
    .slider_cat {
        margin-bottom: 40px;
        padding-right: 0;
    
        h5 {
            text-align: left;
            margin-top: 8px;
            margin-bottom: 4px;
            @include media(">desktop") {
                text-align: center;
            }

        }
        .section_modules_wrapper {
            margin-bottom: 20px;
            @media (min-width: 1420px) {
                margin-bottom: 100px;
                margin-top: 60px;
            }
            .section_slider_cat_wrap {
                padding: 0;
            }
            .tabs_wrapper.rounded_btn {
                position: relative;
                width: 100%;
                overflow: hidden;
                .swiper_slide_cat {
                    @extend %center-flex;

                    #rounded_btn {
                        justify-content: flex-start;
                        /*@include media(">desktop") {
                            justify-content: center;
                        }*/
                                                           
                        .swiper-slide {
                            max-width: 100%;
                            a {
                                width: 100px;
                                display: block;
                                text-align: center !important;
                                // margin-bottom: 16px;
                                text-decoration: none;
                                @media (min-width: 1420px) {
                                    width: 144px;
                                }
                                &:hover {
                                    text-decoration: underline;
                                }
        
                                div {
                                    // height: calc(100% - 43px);
                                    // padding: 1.25rem 2rem !important;
                                    background-color: $color-background-gray;
                                    border-radius: 100%;
                                    @extend %center-flex;
                                    width: 100px;
                                    height: 100px;
                                    margin-bottom: 16px;
                                    @media (min-width: 1420px) {
                                        width: 144px;
                                    height: 144px;
                                    }
                                    img {
                                        display: inline-block;
                                        object-fit: contain;
                                        mix-blend-mode: darken ;
                                        width: 60px;
                                        height: 60px;
                                        @media (min-width: 1420px) {
                                            height: 100px;
                                            width: 100px;
                                        }
                                        
                                    }
                                }
        
                                span {
                                    display: block;
                                    word-break: break-word;
                                    overflow: hidden ;
                                    text-align: center;
                                    font-size: 12px;
                                    font-weight: 700 ;
                                    line-height: 18px ;
                                    padding: 0 4px;
                                }
                            }
                        }
                    }

                    .swiper-nav {
                        display: none;
                        @include media(">desktop") {
                            z-index: 1;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            will-change: opacity;
                            position: absolute;
                            transition-property: opacity;
                            transition-duration: .3s;
                            top: 0;
                            bottom: 0;
                            margin-top: auto;
                            margin-bottom: auto;
                            padding-bottom: 48px;
                            &.swiper-button-disabled {
                                opacity: 0;
                                animation: a-pointer-events 1s linear forwards;
                                z-index: 0;
                            }
            
                            &.swiper-nav-prev {
                                margin-left: 40px;
                                left: 0;
                            }
            
                            &.swiper-nav-next {
                                margin-right: 40px;
                                right: 0;
                            }
            
                            .w-btn {
                                position: relative;
                                display: inline-flex;
                                align-items: center;
                                flex-shrink: 0;
                                max-width: 100%;
                                text-align: left;
                                cursor: pointer; 
            
                                &.w-color-white {
                                    color: rgb(66,66,66);
                                    border-color: #e4e4e4;
                                    background-color: #fff;
                                    justify-content: center;
                                    padding: 16px 24px;
                                    transition-property: background-color, border-color, color, fill, stroke;
                                    transition-duration: .3s;
                                    border-width: 1px;
                                    border-radius: 0;
                                    &:hover {
                                        background-color: #000;  
                                        color: #fff;
                                    }
                                }
                                svg {
                                    display: inline-block;
                                    flex-shrink: 0;
                                    margin: 0 -8px;
                                    &.w-dir-left {
                                        transform: rotate(-180deg);
                                    }
                                }
                            }
                        }
                    }

                    .swiper-scrollbar {
                        bottom: 0;
                        height: 4px;
                        background: transparent;
                        border-radius: 0;
                        @include media(">desktop") {
                            display: none;
                        }
            
                        .swiper-scrollbar-drag {
                            background: #c7c7c7;
                            border-radius: 0;
                        }
                    }
                }
            }
        }
    }
}



.container-archive-product {
    padding-left: 0;
    padding-right: 0;
    .filtering_wrapper {
        @extend %center-flex;
        padding: 0 16px;
        margin-top: 24px;
        @media (min-width: 480px) {
            flex-wrap: wrap;
        }

        .btn_filter_pdts{
            @extend %center-flex;
            color: #424242;
            background-color: #fff;
            border: solid 1px #e4e4e4;
            border-radius: 0;
            padding: 16px 24px;
            margin: 4px;
            flex-shrink: 0;
            max-width: 100%;
            text-align: left;
            cursor: pointer;
            width: auto;
            box-sizing: border-box;

            .filter_name {
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 18px;

            }
            svg {
                margin-left: 8px;
                display: inline-block;
                width: 24px;
                height: 24px;
            }
        }
    }

    .product_sorting_wrapper {
        display: none;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
        @include media(">phone") {
           display: flex;
        }
        @include media(">desktop") {
            padding: 0;
        }
    
        .hidden {
            display: none;
            width: auto;
            @include media(">phone") {
                width: 100px;
            }
            @include media(">desktop") {
                display: block;
            }
        }
    
        .product-count {
            font-size: 16px;
            line-height: 24px;
            width: 100%;
            padding-top: 8px;
            padding-bottom: 8px;
            @include media(">phone") {
                width: auto;
            }
            span {
                display: inline-block;
            }
        }
    
        .sorting-options {
            select.orderby {
                font-family: 'montserrat';
                color: #000;
                border: none;
                appearance: none;
                text-align: end;
                &:hover {
                    text-decoration: underline;
                }
                &:focus-visible {
                    outline: transparent;
                }
            }
        }    
    }

    .child_category_wrapper {
        .woocommerce-notices-wrapper, 
        .woocommerce-result-count,
        .woocommerce-ordering {
            padding: 0 16px;
        }
        ul.products {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -1px;
            margin-top: 8px;
            @include media(">phone") {
                margin-top: 32px;
            }

            .section_modules_wrapper {
                width: 100%; 
                .module_banner_promotion .banner_promotion_wrapper {
                    margin-bottom: 32px;
                }
            }
        }

        .woocommerce-no-products-found {
            padding-bottom: 40px;

            .woocommerce-info {
                background-color: transparent;
                font-size: 16px;
                text-align: center;
            }
        }    
    }

    div.module_half_wrapper {
        .module_50_50_content.module_50_50 {
            padding-top: 20px;
            padding-bottom: 20px;
            @include media(">desktop") {
                display: flex;
                align-items: flex-start;
            }
        }
        h2 {
            font-size: 20px;
            line-height: 30px;
            text-align: left !important;
            font-weight: 400;
            strong {
                font-weight: normal;
            }
            &.title_hero_content:not(:first-child) {
                display: block;

            }
            @include media("<=desktop") {
                text-align: left !important;
            }
            @include media(">desktop") {
                font-size: 24px;
                line-height: 36px;
            }
        }
    }
}

.load_more_pdts_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px 8px;

    .btn_white_hover {
        @extend %white-btn;
        font-size: 17px;
        span {
            display: none;
            @include media(">phone") {
                display: inline !important;
             }
            text-decoration: none;
            &.prev {
                padding-right: 16px;
                padding-left: 24px;     
            }
            &.next {
                padding-right: 24px;
                padding-left: 16px;     
            }

            
        }
        &.pagination-prev{
            svg {
                transform: rotate(180deg);
            }
        }
        svg {
            display: inline-block;
            flex-shrink: 0;
            vertical-align: middle;
            text-decoration: none;
        }
    }
    .pagination-dropdown {
        position: relative;
        margin: 0 16px;

        .pagination-current {
            @extend %white-btn;
            font-size: 17px;
            display: flex;
            align-items: center;
            /*&:hover {
                background-color: #000;
                color: #fff;
            }*/
            span {
                margin: 0 16px;
            }
            svg {
                display: inline-block;
                flex-shrink: 0;
                vertical-align: middle;
                text-decoration: none;
            }

        }

        .pagination-options {
            display: none;
            width: 100px;
            max-height: 50vh;
            padding: 0;
            margin: 0;
            background-color: #fff;
            color: #424242;
            box-shadow: 0 0 5px rgba(0, 0, 0, .15);
            list-style: none;
            text-align: center;
            font-size: 16px;
            font-weight: 700;
            z-index: 2;
            overflow: auto;

            &.open {
                display: block;
                position: absolute;
                top: 110%;
                left: 50%;
                transform: translate(-50%);
            }

            &.open-up {
                bottom: 110%; 
                top: auto;
            }

            a {
                display: block;
                padding: 8px 20px;
                cursor: pointer;
                text-decoration: none;
                color: #000;
                &:hover, &.active {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }
}