//checkout page
.woocommerce-checkout {

    .site-main {
        @extend %container;
        padding: 0;

        article{
            margin-bottom:0;
        }

        .entry-header, .section_wrap.breadcrumb_section {
            display: none;
        }

        .entry-content {
            margin: 20px 0;

            // .woocommerce .woocommerce-notices-wrapper:nth-of-type(2) {
            //     display: none;
            // }

            .form-row.woocommerce-invalid input.input-text {
                box-shadow: inset 2px 0 0 #e10915;
            }

            .form-row.woocommerce-validated input.input-text {
                box-shadow: inset 2px 0 0 #026805;
            }

            .woocommerce {
                h3 {
                    font-size: 18px;
                    line-height: 28px;
                    text-align: var(--dir-left);

                    &#order_review_heading {
                        display: none;
                    }
                }
                .woocommerce-form-login {
                    background-color: #f4f4f4;
                    padding: 40px;
               
                    .woocommerce-form-login-toggle {
                        .woocommerce-info {
                            display: flex;
                            align-items: center;
                            font-size: 16px;
                            text-transform: uppercase;
                            font-weight: 700;
                            padding-inline-end: 24px;
                            background-color: #fff;

                            &:after{
                                content:url("../images/svg/arrow-down.svg");
                                width: 20px;
                                height: 20px;
                                display: inline-block;
                                transition: transform 0.3s ease;
                            }
                            &:hover {
                                border-bottom: 1px solid #e10915;

                            }

                            a {
                                text-decoration: none;
                                background-color: #fff;
                                padding: 16px 24px;
                                display: inline-block;
                                width: 100%;
                            }
                        }     
                        &.rotate180 .woocommerce-info:after  {
                            transform: rotate(180deg);
                        }
                    }

                    form.woocommerce-form-login {
                        padding: 16px 24px;
                        padding-top: 40px;
                        background-color: #fff;

                        span.password-input {
                            .show-password-input {
                                top: 55%;
                                transform: translateY(-45%);
                            }
                        }

                        label.woocommerce-form__label.woocommerce-form-login__rememberme {
                            position: static;
                            transform: none;
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            margin: 16px;
                            display: none;

                            input#rememberme[type="checkbox"] {
                                position: relative;
                                appearance: none;
                                width: 16px;
                                height: 16px;
                                border: 1px solid #424242;
                                flex-shrink: 0;
                                display: inline-grid;
                                place-content: center;
                                cursor: pointer;
                                padding: 0;

                                &:checked{
                                    background-color: rgb(66,66,66);
                                    &:before{
                                      content:url("../images/svg/check.svg");
                                      width: 16px;
                                      height: 20px;
                                      color: #fff;
                                      filter: invert(100%) brightness(100%);
                                    }
                                } 
                            }
                        }
                    }
                }

                form.woocommerce-checkout {            
                    position: relative;                
                    margin-bottom: 20px;
                    padding-bottom: 100px;
                    background-color: #f4f4f4;
    
                    @include media(">desktop") {
                        padding: 40px;
                        display: flex;
                        flex-wrap: wrap;
                        margin: 0;
                    }
    
                    .woocommerce-NoticeGroup {
                        width: 100%;
                        ul.woocommerce-error {
                            li {
                                margin-bottom: 4px;
                            }
                            &::before {
                                top: 30px;
                            }                    
                        }
                    }

                    #customer_details {
                        padding: 0;
                        flex-grow: 1;
                        // width: 75%;
                        padding: 20px;
                        // margin-bottom: 20px;
                        box-shadow: 0 1px 3px rgba(0, 0, 0, .08) !important;
                        background-color: #fff;
                        height: fit-content;
                        @include media(">desktop") {
                            width: 75%;
                            position: sticky;
                            top: 20px;
                            padding: 20px 60px;
                        }
    
                        .col-1 {  
                            .woocommerce-delivery-option {
                                #shipping_method div {
                                    display: flex;
                                    flex-wrap: wrap;
                                    align-items: center;
                                    margin: 16px auto;
                                    width: 100%;
                                    padding: 16px;
                                    border: 1px solid #e4e4e4;
                                    outline: none;
                                    background-color: #f4f4f4;
                                    border-radius: 0;
                                    font-size: 16px;
                                    font-weight: 400;
                                    text-transform: uppercase;
    
                                    .shipping_method[type="radio"] {
                                        position: relative;
                                        margin-inline-end: 8px;
                                        padding: 0;
                                        appearance: none;
                                        -webkit-appearance: none;
                                        -moz-appearance: none;
                                        width: 24px;
                                        height: 24px;
                                        background-color: #fff;
                                        border: 2px solid #424242;
                                        flex-shrink: 0;
                                        display: inline-grid;
                                        place-content: center;
                                        cursor: pointer;
    
                                        &:checked {
                                            background-color: #424242;
                                            &::after {
                                                content:url("../images/svg/check.svg");
                                                width: 16px;
                                                height: 20px;
                                                color: #fff;
                                                filter: invert(100%) brightness(100%);
                                            }
                                        }
                                    }
                                }
                                                            
                                /*.delivery-option {
                                    width: 100%;
                                    padding: 16px;
                                    border: 1px solid #e4e4e4;
                                    outline: none;
                                    background-color: #f4f4f4;
                                    border-radius: 0;
                                    margin-bottom: 20px;
                                }*/
    
                                .delivery-message {
                                    color: #e10915;
                                    font-weight: 700;
                                }
    
                                label.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox {
                                    font-size: 16px;
                                    font-weight: 400;
                                    margin: 0;
                                    display: -webkit-box;
                                    display: -ms-flexbox;
                                    display: flex;
                                    -webkit-box-align: center;
                                    -ms-flex-align: center;
                                    align-items: center;
                                    gap: 16px;
    
                                    input[type="checkbox"]{
                                        position: relative;
                                        appearance: none;
                                        width: 24px;
                                        height: 24px;
                                        border: 2px solid #424242;
                                        flex-shrink: 0;
                                        display: inline-grid;
                                        place-content: center;
                                        cursor: pointer;
                                        &:checked{
                                          background-color: rgb(66,66,66);
                                          &:before{
                                            content:url("../images/svg/check.svg");
                                            width: 16px;
                                            height: 20px;
                                            color: #fff;
                                            filter: invert(100%) brightness(100%);
                                          }
                                        }
                                    }
                                }
    
                            }
    
                            .woocommerce-billing-fields {
                                padding-bottom: 20px;
                                border-bottom: 1px dashed #e4e4e4;
                                
                                p.form-row{
                                    width: 100%;
                                    margin: 0;
                                    margin-top: 20px;
                                    float: none;
        
                                    &#billing_country_field label{
                                        position: relative;
                                        margin-inline-end: 10px;
                                        inset-inline-start: 0;
                                        transform: inherit;
                                    }
        
                                    &#billing_company_field label.focused {
                                        inset-inline-start: -25px;
                                    } 
        
                                    &#billing_phone_field label.focused {
                                        inset-inline-start: 0px;
                                    } 
                                    
                                    
                                    &#billing_postcode_field label.focused {
                                        inset-inline-start: -25px;
                                    }  
                                
                                    &#billing_city_field{
                                        label.focused{
                                            [dir="rtl"] & {
                                                inset-inline-start: 0;
                                            }
                                        }
                                        
                                        ul {
                                            list-style: none;
                                            padding: 4px 24px;
                                            margin: 0;
                                            padding-inline-start: 24px;
                                            background-color: #F4F4F4;
                                            top: 4px !important;
                                            box-shadow: inset 2px 0 0 #026805;
        
                                            li.ui-menu-item {
                                                margin: 8px auto;
                                                cursor: pointer;
                                            }
                                        }
                                    } 
    
                                    &#billing_state_field {
                                        display: none !important;
                                    }                            
                                }
                            }

                            .woocommerce-account-option {
                                margin-top: 20px;
                                border-bottom: 1px dashed #e4e4e4;
                                .woocommerce-account-fields {
                                    width: 100%;
                                    padding: 16px;
                                    border: 1px solid #e4e4e4;
                                    outline: none;
                                    background-color: #f4f4f4;
                                    border-radius: 0;
                                    margin-bottom: 20px;
    
                                    p.form-row {  
                                        margin: 0;
                                        label.woocommerce-form__label {
                                            display: flex;
                                            align-items: center;
                                            gap: 16px;
                                            position: static;
                                            transform: none;
                                            text-transform: uppercase;
                                            font-size: 16px;
                                            input#createaccount[type="checkbox"] {
                                                position: relative;
                                                appearance: none;
                                                width: 24px;
                                                height: 24px;
                                                border: 2px solid #424242;
                                                flex-shrink: 0;
                                                display: inline-grid;
                                                place-content: center;
                                                cursor: pointer;
                                                padding: 0;
                                                
                                                &:checked{
                                                    background-color: rgb(66,66,66);
                                                    &:before{
                                                      content:url("../images/svg/check.svg");
                                                      width: 16px;
                                                      height: 20px;
                                                      color: #fff;
                                                      filter: invert(100%) brightness(100%);
                                                    }
                                                }                                           
      
                                            }
                                        }
                                    }
                                    .create-account {
                                        margin-top: 16px;
                                        
                                        p {
                                            margin: 0;
                                            padding: 16px 0;
                                            font-size: 16px;
                                            a {
                                                text-decoration: none;
                                                &:hover {
                                                    text-decoration: underline;
                                                }
                                            }
                                        }

                                        /*span.password-input {
                                            .show-password-input {
                                                top: 55%;
                                                transform: translateY(-45%);
                                            }
                                        }*/
                                    }
                                }
                            }
                        }
                        
    
                        .col-2 {
                            margin-top: 20px;
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: column;
    
                            .woocommerce-shipping-fields {
                                width: 100%;
                                padding: 16px;
                                border: 1px solid #e4e4e4;
                                outline: none;
                                background-color: #f4f4f4;
                                border-radius: 0;
    
                                &.empty {
                                    display: none;
                                }
    
                                h3 {
                                    font-size: 16px;
                                    font-weight: 400;
                                    margin: 0;
    
                                    label {
                                        display: flex;
                                        align-items: center;
                                        gap: 16px;
    
                                        input[type="checkbox"]{
                                            position: relative;
                                            appearance: none;
                                            width: 24px;
                                            height: 24px;
                                            border: 2px solid #424242;
                                            flex-shrink: 0;
                                            display: inline-grid;
                                            place-content: center;
                                            cursor: pointer;
                                            &:checked{
                                              background-color: rgb(66,66,66);
                                              &:before{
                                                content:url("../images/svg/check.svg");
                                                width: 16px;
                                                height: 20px;
                                                color: #fff;
                                                filter: invert(100%) brightness(100%);
                                              }
                                            }
                                        }
                                    }                                
                                }
    
                                p.form-row{
                                    width: 100%;
                                    margin: 0;
                                    margin-top: 20px;
                                    float: none;
    
                                    &#shipping_country_field label{
                                        position: relative;
                                        margin-inline-end: 10px;
                                        inset-inline-start: 0;
                                        transform: inherit;
                                    }
        
                                    &#shipping_company_field label.focused {
                                        inset-inline-start: -28px;
                                    }
    
                                    &#shipping_postcode_field label.focused {
                                        inset-inline-start: -28px;
                                    }
    
                                    &#shipping_city_field ul {
                                        list-style: none;
                                        padding: 4px 24px;
                                        margin: 0;
                                        padding-inline-start: 24px;
                                        background-color: #F4F4F4;
                                        top: 4px !important;
                                        box-shadow: inset 2px 0 0 #026805;
    
                                        li.ui-menu-item {
                                            margin: 8px auto;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
    
                            .woocommerce-additional-fields {
                                padding-top: 20px;
                                border-top: 1px dashed #e4e4e4;
                                margin-top: 20px;
    
                                div.woocommerce-additional-fields__field-wrapper {
                                    padding-bottom: 10px;
                                    border-bottom: 1px dashed #e4e4e4;
    
                                    label {
                                        top: 20px;
                                        &.focused {
                                            top: 3px;
                                            inset-inline-start: -23px;
                                        }
                                    }
        
                                    textarea#order_comments {
                                        width: 100%;
                                        font-size: 16px;
                                        border: 1px solid #e4e4e4;
                                        outline: none;
                                        background-color: #f4f4f4;
                                        border-radius: 0;
                                        height: 120px;
                                        max-height: 120px;
                                        padding: 8px;
                                        padding-top: 20px;
                                    }
                                }                            
    
                                div#payment {
                                    ul.wc_payment_methods {
                                        padding: 20px;
                                        margin-bottom: 20px;
                                        box-shadow: 0 1px 3px rgba(0, 0, 0, .08) !important;
                                        background-color: #fff;
                                        margin: 0;
                                        list-style: none;
                                        font-size: 16px;
                                        font-weight: 700;
                                        line-height: 32px;
                                        border: 1px solid #e4e4e4;
                                        background-color: #F4F4F4;
    
                                        li {
                                            list-style: none;
    
                                            input {
                                                display: inline-block !important;
                                            }
    
                                            p {
                                                margin: 0;
                                            }
                                        }
    
                                    }
    
                                    
                                    div.form-row {
                                        width: 100%;
    
                                        .woocommerce-terms-and-conditions-wrapper {
                                            display: flex;
                                            flex-direction: column;
    
                                            .woocommerce-privacy-policy-text {
                                                display: inline-block;
                                                order: 2;
                                                @include media("<mobile") {
                                                    padding: 0 20px;
                                                    text-align: justify;
                                                }
                                            }
    
                                            p.form-row {
                                                order: 1;
                                                margin-top: 20px;
    
                                                label {
                                                    position: relative;
                                                    top: inherit;
                                                    inset-inline-start: inherit;
                                                    display: flex;
                                                    justify-content: flex-start;
                                                    align-content: flex-start;
                                                    align-items: flex-start;
                                                    transform: none;
                                                    pointer-events: auto;
                                                    @include media(">desktop") {
                                                        align-content: center;
                                                        align-items: center; 
                                                    }
    
                                                    input#terms[type="checkbox"]{
                                                        background-color: #fff;
                                                        position: relative;
                                                        appearance: none;
                                                        width: 24px;
                                                        height: 24px;
                                                        border: 2px solid #424242;
                                                        flex-shrink: 0;
                                                        display: inline-grid;
                                                        place-content: center;
                                                        cursor: pointer;
                                                        margin-inline-end: 8px;
                                                        padding: 0;
                                                        &:checked{
                                                          background-color: #424242;
                                                          &:before{
                                                            content:url("../images/svg/check.svg");
                                                            width: 16px;
                                                            height: 20px;
                                                            color: #fff;
                                                            filter: invert(100%) brightness(100%);
                                                          }
                                                        }
                                                    }
                                                }
                                            }
                                        }
    
                                        .btn_submit_order {
                                            @include media("<mobile") {
                                                padding: 8px;
                                                padding-bottom: 24px;
                                                margin-top: 20px;
                                                background-color: #fff;
                                                box-shadow: 0 0 5px rgba(0, 0, 0, .15);
                                                display: flex;
                                                position: fixed;
                                                right: 0;
                                                left: 0;
                                                bottom: 0;
                                                z-index: 999999999999;
                                            }
                                            button#place_order {
                                                background-color: #026805;
                                                
                                                &:hover {
                                                    color: #026805;
                                                    background-color: #fff;
                                                    border-color: #026805;
                                                }
                                            }
    
                                        }
        
                                        
                                    }
                                }
                            }
                        }
                    }
                   
    
                    #order_review{
                        margin-top: 20px;
                        flex-shrink: 0;
                        position: initial;
                        @include media(">desktop") {
                            width: 25%;
                            padding-inline-start: 20px;
                            margin-top: 0;
                        }
    
                        div.woocommerce-checkout-review-order-table {
                            margin: 0;
                            padding: 0; 
                            padding-bottom: 4px;
                            position: sticky;
                            top: 20px;
                            display: flex;
                            flex-direction: column;
                            @include media(">desktop") {
                                padding-bottom: 0;
                            }
    
                            section.wc-cart-mini {
                                padding: 0;
                                padding-top: 20px;
                                box-shadow: 0 1px 3px rgba(0, 0, 0, .08) !important;
                                background-color: #fff;
    
                                .cart-header {
    
                                    h5 {
                                        padding: 0 20px;
                                    }
    
                                    .checkout-pdts {
                                        position: relative;
    
                                        button {
                                            display: flex;
                                            background-color: #fff;
                                            color: #000;
                                            padding: 8px 20px; 
                                            text-align: var(--dir-left);
                                            border-width: 0 0 1px;
                                            border-radius: 0;
                                            font-weight: 400;
                                            &:hover {
                                                color: #000;
                                                background-color: #fff;
                                                border-color: #e10915;
    
                                            }
    
                                            span {
                                                text-transform: none;
                                                flex-grow: 1;
                                                margin-inline-end: 8px;
                                            }
    
                                            svg {
                                                flex-shrink: 0;
                                                width: auto;
    
                                                &.rotate180 {
                                                    transform: rotate(180deg);
                                                    transition: transform 0.3s ease;
                                                }
                                            }
    
                                        }
    
                                        div.wc-cart-mini-wrapper {
                                            height: 0px;
                                            overflow: hidden;
                                            transition-property: all;
                                            transition-timing-function: cubic-bezier(.4,0,.2,1);
                                            transition-duration: .3s;
    
                                            &.open-cart {
                                                height: 40vh !important;
                                                max-height: 50vh !important;
                                            }
                                            .product {
                                                max-height: 100%;
                                                border-color: #e4e4e4;
                                                padding: 20px;
                                                overflow: auto;
                                                border-top-width: 1px;
    
                                                .cart_item {
                                                    position: relative;
                                                    width: 100%;
                                                    &:not(:first-child) {
                                                        margin-top: 16px;
                                                    }
                                                    
    
                                                    p{
                                                        margin: 0;
                                                        padding: 0;
                                                    }
    
                                                    .cart-product-thumbnail {
                                                        width: 100%;
                                                        position: relative;
                                                        @extend %center-flex;                              
                                                        cursor: pointer;
                                                        color: #424242;
                                                        border: 1px solid #e4e4e4;
                                                        background-color: #fff;
                                                        text-transform: uppercase;
                                                        transition-property: background-color, border-color, color, fill, stroke;
                                                        transition-duration: .3s;
                                                        padding: 16px;
                                                        
                                                        &:hover {
                                                            border-color: #e10915;  
                                                        }
                                                        
                                                        a {
                                                            width: 100%;
                                                            height: 128px;
                                                            display: inline-block;
                                                            img {
                                                                width: 100%;
                                                                height: 100%;
                                                                object-fit: contain;
                                                                display: inline-block;
                                                            }
                                                        }
                                                    }
    
                                                    .product-name {
                                                        font-size: 16px; 
                                                        font-weight: 700;
                                                        margin-top: 20px;
                                                        // margin-bottom: 8px;
                                                        text-decoration: none;
                                                        display: flex;
                                                        justify-content: space-between;
        
                                                        &:hover {
                                                            text-decoration: underline;
                                                            strong {
                                                                text-decoration: none;
                                                            }
                                                        }
                    
                                                    }
    
                                                    .delivery_and_price_wrapper {
                                                        margin-top: 20px;
                                                        font-size: 14px;
                                                        line-height: 21px;
                                                                        
                                                        .product-delivery, 
                                                        .product-price,
                                                        .product-price-discont {
                                                            display: flex;
                                                            justify-content: space-between;
                                                            margin-top: 8px;
    
                                                            ins {
                                                                background: transparent;
                                                            }
                                                        }
    
                                                        .product-delivery {
                                                            margin: 0;
                                                        }
    
                                                        .shipping_availability {
                                                            text-align: end;
                                                        }
                                                        .stock {
                                                            color: #026805;
                                                            display: inline-block;
                                                        }
                    
                                                        .bold {
                                                            font-weight: 700;
                                                        }
                    
                                                        .red {
                                                            color: #e10915;
                                                        }
    
                                                        .product-price-discont .bold.red {
                                                            del {
                                                                display: none;
                                                            }
                                                        }
                                                    }
                    
                                                    hr {
                                                        margin-top: 20px;
                                                        margin-bottom: 8px;
                                                        border-top: 1px dashed #e4e4e4;
                                                        height: 0;
                                                    }
                    
                                                    .product-total {
                                                        display: flex;
                                                        justify-content: space-between;
    
                                                        del {
                                                            display: none;
                                                        }
                    
                                                        ins {
                                                            background: transparent;
                                                        }
                        
                                                        p{
                                                            font-size: 16px;
                                                            line-height: 24px;
                                                        }
                        
                                                        .bold {
                                                            font-weight: 700;
                                                        }
                        
                                                        .red {
                                                            color: #e10915;
                                                        }
                                                    }
                    
                                                    .product-discount-message {
                                                        margin-top: 20px;
                                                        padding: 24px 20px;
                                                        border: 1px dashed #026805;
                                                        p {
                                                            margin: 0;
                                                            padding: 0;
                                                            font-size: 16px;
                                                            bdi,
                                                            .discount-percentage {
                                                                font-weight: 700;
                                                                color: #e10915;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
    
                                }
    
                            }
    
                            section.summary-wrapper {
                                padding: 20px;
                                margin-top: 20px;
                                box-shadow: 0 1px 3px rgba(0, 0, 0, .08) !important;
                                background-color: #fff;
                                font-size: 14px;
                                line-height: 21px;
    
                                h5 {
                                    margin-bottom: 8px;
                                }
    
                                p {
                                    margin: 0;
                                }
                                
                                .cart-subtotal, .checkout-shipping-totals {
                                    margin: 8px auto;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                }
    
                                .cart-subtotal {
                                    margin-top: 32px;
                                }
    
                                ul, li {
                                    margin: 0;
                                    padding: 0;
                                    list-style: none;
                                    text-align: end;
                                    font-size: 14px;
                                    line-height: 21px;
                                    margin-top: 8px;
                                }
    
                                hr {
                                    margin-top: 20px;
                                    margin-bottom: 16px;
                                    border-top: 1px dashed #e4e4e4;
                                    height: 0;
                                }
    
                                .order-total {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
    
                                    .price-order-total {
                                        font-size: 20px;
                                        color: #e10915;
                                        small {
                                            display: none;
                                        }
                                    }
                                }
                            }
    
                            section.another-data {
                                padding: 20px;
                                margin-top: 20px;
                                box-shadow: 0 1px 3px rgba(0, 0, 0, .08) !important;
                                background-color: #fff;
                                h5 {
                                    margin: 0;
                                }
    
                                button {
                                    margin-top: 20px;
                                    @extend %white-btn;
                                    width: 100%;
                                    font-weight: 400;
    
                                    &.back_to {
                                        margin-top: 8px;
                                    }
                                    
                                    &:hover {
                                        a {
                                            color: #fff;
                                        }
                                    }
                                    a {
                                        text-decoration: none;
                                        &:hover {
                                            color: #fff;
                                        }
                                    }
                                }
    
                                hr {
                                    margin: 20px 0;
                                    border-top: 1px dashed #e4e4e4;
                                    height: 0;
                                }
                            }
                        }
                    }
                }

            }
        }

    }

    ul.order_details {
        display: none;
    }

}