#primary {

    .woocommerce-breadcrumb {
        @extend %container;
        padding: 1.25rem 0;
        display: block;
        text-align: left;
        font-size: 10px;
        line-height: 16px;
        text-transform: capitalize;
        @media (min-width: 1025px) {
            font-size: 12px;
            line-height: 1.125rem;
        }
        a {
            display: inline-flex;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .product {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        @media (min-width: 480px) {
            padding-bottom: 1.5rem !important;
        }

        .top_details {
            @extend %container;
            display: flex;
            padding: 0;
            .l_side {
                display: flex;
                flex-direction: column;
                margin: 0 1rem;
                height: 30rem;
                @media (min-width: 480px) {
                    width: 50%;
                    top: 1.25rem;
                    position: sticky;
                    min-height: 40rem;
                    max-height: 42rem;
                    margin: 0;
                    height: 75vh;
                }
                @media (min-width: 1025px) {
                    width: 58.333333%; 
                }
                @media (min-width: 1420px) {
                    width: 66.666667% ;
                }
                
                .product-gallery {
                    position: relative;
                    background-color: #fff;
                    width: 100%;
                    height: 100%;
                    // overflow: hidden;

                    .slider_gallery_wrapper {
                        width: 100%;
                        height: calc(100% - 116px);
                        border: solid 1px #e4e4e4;

                        .gallery-thumbnail-slider {
                            width: 100%;
                            height: 100%;

                            .gallery-thumbnail {
                                width: 100%;
                                height: 100%;
                                @extend %center-flex;
                                padding: 1rem;
                                cursor: pointer;
                                img {
                                    display: inline-block;
                                    mix-blend-mode: darken;
                                    width: 100% ;
                                    height: 100%;
                                    object-fit: contain;
                                }
                            }              
                        }
                    }             

                    .small_img_slider_wrapper {
                        padding: 0;
                        margin-top: 1rem;
                        position: relative;
                        flex-grow: 1;
                        max-width: 100%;

                        .swiper_img_slider.swiper-container {
                            margin: 0 auto;
                            position: relative;
                            overflow: hidden;
                            padding: 0;
                            z-index: 1;

                            .img_gallery_small.swiper-wrapper {
                                position: relative;
                                width: 100%;
                                height: 100%;
                                z-index: 1;
                                display: flex;
                                transition-property: transform;
                                box-sizing: content-box;
                                .swiper-slide {
                                    width: auto;
                                    max-width: 100%;
                                    height: 100%;
                                    flex-shrink: 0;
                                    position: relative;
                                    .product_zoom_thumbnail_item{
                                        @extend %center-flex;
                                        width: 6.25rem;
                                        height: 6.25rem;
                                        padding: .5rem;
                                        border: solid 1px #e4e4e4;
                                        background-color: #fff;
                                        overflow: hidden;
                                        cursor: pointer;
                                        box-sizing: border-box;
                                        img {
                                            display: inline-block;
                                            height: auto;
                                            max-width: 100%;
                                            max-height: 100%;
                                            opacity: 1;
                                            mix-blend-mode: darken;
                                        }
                                    }

                                    &.swiper-slide-active .product_zoom_thumbnail_item {
                                        border-color: #e10915;
                                    }
                                }
                            }

                            .swiper-nav {
                                z-index: 1;
                                @extend %center-flex;
                                will-change: opacity;
                                position: absolute;
                                transition-property: opacity;
                                transition-duration: .3s;
                                top: 0;
                                bottom: 0;
                                margin: auto 1.5rem;
                                padding-bottom: 0;
                                &.swiper-button-disabled {
                                    opacity: 0;
                                    animation: a-pointer-events 1s linear forwards;
                                }
                            
                                &.swiper-nav-prev {
                                    margin-left: 2.5rem;
                                    left: 0;
                                }
                            
                                &.swiper-nav-next {
                                    margin-right: 2.5rem;
                                    right: 0;
                                }
                            
                                .w-btn {
                                    position: relative;
                                    display: inline-flex;
                                    align-items: center;
                                    flex-shrink: 0;
                                    max-width: 100%;
                                    text-align: left;
                                    cursor: pointer; 
                            
                                    &.w-color-white {
                                        color: rgb(66,66,66);
                                        border-color: rgb(228,228,228);
                                        background-color: rgb(255,255,255);
                                        justify-content: center;
                                        padding: 1rem 1.5rem;
                                        transition-property: background-color, border-color, color, fill, stroke;
                                        transition-duration: .3s;
                                        border-width: 1px;
                                        border-radius: 0;
                                    }
                                    svg {
                                        display: inline-block;
                                        flex-shrink: 0;
                                        margin: 0 -.5rem;
                                    }
                                }
                            }
                            
                        }
                    }
                }
            }

            .r_side {
                padding: 1.25rem 1rem 1.5rem 1rem;
                box-sizing: border-box;
                @media (min-width: 480px) {
                    padding-top: 0;
                    width: 50%;
                }
                @media (min-width: 1025px) {
                    padding-right: 2.5rem;
                    padding-left: 2.5rem;
                    width: 41.666667%;
                }
                @media (min-width: 1420px) {
                    width: 33.333333%;
                }

                .product-details {   
                    margin: 0;     
                    .product-sku {
                        margin: 0;
                        font-size: $font-size-base;
                        line-height: 1.3125rem;
                        padding-bottom: .25rem;
                    }
            
                    h1 {
                        font-size: 20px;
                        line-height: 1.875rem;
                        margin: 0;
                    }
            
                    .wc_tags{
                        margin-bottom: -.5rem;
                        margin-top: .5rem;
                        display: flex;
                        flex-wrap: wrap;

                        .text_tag{
                            background-color: #fff;
                            color: #000;
                            border: solid 1px #e4e4e4;
                            border-radius: .25rem;
                            padding: .25rem .5rem;
                            margin: 0 .5rem .5rem 0;
                            font-size: 14px;
                            line-height: 1.3125rem;
                            cursor: pointer;
                            box-sizing: border-box;
                        }
                    }
            
                    p.price {
                        margin-top: 1.25rem !important;
                        span {
                            font-size: 16px;
                            font-weight: 700;
                        }
                    }
            
                    p.stock {
                        display: none;
                    }
            
                    .stock_shipping_availability {
                        display: flex;
                        flex-wrap: nowrap;
                        padding: 1rem 0;
                        .product-shipping {
                            font-size: 14px;
                            line-height: 1.3125rem;
                            font-weight: 400;
                            margin-right: .25rem !important;
                        }
                        & > .stock {
                            color: #026805;
                            font-weight: 700;
                            display: inline-block !important;
                        }
                    }
            
                    form.cart {
                        display: flex;
                        flex-wrap: nowrap;
            
                        .quantity {
                            margin-right: .5rem;
                            @extend %white-btn;
                            
                        }
                        button.single_add_to_cart_button {
                            @extend %black-btn;
                        }
                    }
            
                    .about_product {
                        margin-top: 1.25rem;
                        .list_qualities_pdts {
                            display: flex;            
                            flex-direction: column;
                            .item_pdt {
                                display: flex;
                                margin-bottom: .25rem;
                                svg {
                                    width: 18px;
                                    height: 18px;
                                    flex-shrink: 0;
                                    display: inline-block;
                                    vertical-align: middle;
                                }
                                .text_item {
                                    padding-left: .5rem;
                                    margin-left: .25rem;
                                    font-size: $font-size-base;
                                    line-height: 1.3125rem;
                                    text-transform: uppercase;
                                    vertical-align: inherit;
                                }
                            }
                        }
                        h5 {
                            margin-top: 1.25rem;
                            margin-bottom: 0.5rem;
                        }
                        .woocommerce-product-details__short-description {
                            ul {
                            margin: 0; 
                            padding-left: 1rem;
                            li {
                                    font-size: $font-size-base;
                                    line-height: 1.3125rem;
            
                            }
                            }
                            
                        }
                    }
            
                    .woocommerce-product-details__short-description {
                        margin-bottom: 20px;
                    }
            
                    .woocommerce-variation-price {
                        margin-bottom: 20px;
                    }
                }
            }
        }

        .accordion_wrapper {
            width: 100%;
            margin: 2.5rem auto;
            padding: 0;
            display: block;
            h2 {
                margin-bottom: 1rem;
                font-size: 36px;
                line-height: 3rem;
                text-align: center;
                font-weight: 400;
            }

            .accordion_product_details {
                background-color: #ededed;
                .accordion_item {
                    width: 100%;
                    position: relative;

                    .accordion_title {
                        .accordion_question{
                            position: relative;
                            @extend %center-flex;
                            width: 100%;
                            max-width: 100%;
                            padding: 1.25rem;
                            font-size: $font-size-button;                            
                            text-align: center;
                            text-transform: uppercase;
                            background-color: #f4f4f4;
                            border-color: #e4e4e4;
                            border-width: 0 0 1px;
                            cursor: pointer;

                            .title {
                                margin-right: .5rem;
                                flex-grow: 1;
                            }
                            svg {
                                transform: rotate(0deg);
                                transition: transform 0.3s ease;
                            }

                            .rotate180 {
                                transform: rotate(180deg);
                                transition: transform 0.3s ease;
                            }
                        }

                    }

                    .accordion_content {
                        overflow: hidden;
                        display: none;
                        &.active {
                            display: block;
                        }
                        .data_wrapper {
                            padding: 3.75rem 0;
                            font-size: $font-size-base;
                            line-height: 1.3125rem;

                            h3 {
                                margin-bottom: .5rem;
                                text-align: center;
                                font-weight: 400;
                            }

                            ul {
                                list-style: none;
                                margin: 0;
                                padding: 0;
                                font-size: $font-size-button;
                                line-height: 1.5rem;

                                li {
                                    padding: .25rem 0;
                                    display: flex;

                                    span {
                                        width: 50%;
                                        &.description_bold {
                                            text-align: right;
                                            padding-right: .5rem;
                                            font-weight: 700;
                                        }
                                        &.answer {
                                            padding-left: .5rem;
                                        }
                                    }
                                }
                            }
                        }

                        .description_wrapper {
                            padding: 3.75rem 0;
                            font-size: $font-size-base;
                            line-height: 1.3125rem;
                            h3 {
                                margin: 0;
                                padding-bottom: 1.25rem;
                                text-align: left;
                            }
                            .text_description {
                                font-size: $font-size-button;
                                line-height: 1.5rem;
                            }
                        }

                        .delivery_wrapper {

                            .text_delivery {
                                padding: 1.25rem;
                                p, span{
                                    font-size: $font-size-button;
                                    line-height: 1.5rem;
                                }
                            }
                            
                        }
                    }
                }
            }            

        }
    }
}