#primary {

    .woocommerce-breadcrumb {
        @extend %container;
        padding: 1.25rem 0;
        display: block;
        text-align: left;
        font-size: 10px;
        line-height: 16px;
        text-transform: capitalize;
        @media (min-width: 1025px) {
            font-size: 12px;
            line-height: 1.125rem;
        }
        a {
            display: inline-flex;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .product {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        @media (min-width: 480px) {
            padding-bottom: 1.5rem !important;
        }

        .top_details {
            @extend %container;
            display: flex;
            padding: 0;
            .l_side {
                display: flex;
                flex-direction: column;
                margin: 0 1rem;
                height: 30rem;
                @media (min-width: 480px) {
                    width: 50%;
                    top: 1.25rem;
                    position: sticky;
                    min-height: 40rem;
                    max-height: 42rem;
                    margin: 0;
                    height: 75vh;
                }
                @media (min-width: 1025px) {
                    width: 58.333333%; 
                }
                @media (min-width: 1420px) {
                    width: 66.666667% ;
                }
                
                .product-gallery {
                    position: relative;
                    background-color: #fff;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    .slider_gallery_wrapper {
                        position: relative;
                        width: 100%;
                        height: calc(100% - 116px);
                        border: solid 1px #e4e4e4;

                        .gallery-thumbnail-slider {
                            width: 100%;
                            height: 100%;

                            .swiper-wrapper {
                                width: 100%;
                                height: 100%;
                                @extend %flex-start;
                                align-items: center;
                                cursor: pointer;

                                .swiper-slide {
                                    width: 100% !important;
                                }
                                .gallery-large {
                                    width: 100% !important;
                                    height: 100% !important;
                                    display: flex !important;
                                    align-items: center !important;
                                    justify-content: center !important;  
                                    padding: 1rem;
                                    cursor: pointer;
                                
                                    img {
                                        display: inline-block;
                                        mix-blend-mode: darken;
                                        width: 100% ;
                                        height: 100%;
                                        object-fit: contain;
                                    }
                                }
                            }
                            
                            .swiper-nav {
                                z-index: 1;
                                @extend %center-flex;
                                will-change: opacity;
                                position: absolute;
                                transition-property: opacity;
                                transition-duration: .3s;
                                top: 0;
                                bottom: 0;
                                margin: auto 1.5rem;
                                padding-bottom: 0;
                                &.swiper-button-disabled {
                                    opacity: 0;
                                    animation: a-pointer-events 1s linear forwards;
                                }
                            
                                &.large-slider-nav-prev {
                                    margin-left: 2.5rem;
                                    left: 0;
                                    svg.w-dir-left {
                                        transform: rotate(-180deg);
                                    }
                                }
                         
                                &.large-slider-nav-next {
                                    margin-right: 2.5rem;
                                    right: 0;
                                }
                           
                                .w-btn {
                                    position: relative;
                                    display: inline-flex;
                                    align-items: center;
                                    flex-shrink: 0;
                                    max-width: 100%;
                                    text-align: left;
                                    cursor: pointer; 
                            
                                    &.w-color-white {
                                        color: rgb(66,66,66);
                                        border-color: rgb(228,228,228);
                                        background-color: rgb(255,255,255);
                                        justify-content: center;
                                        padding: 1rem 1.5rem;
                                        transition-property: background-color, border-color, color, fill, stroke;
                                        transition-duration: .3s;
                                        border-width: 1px;
                                        border-radius: 0;
                                    }
                                    svg {
                                        display: inline-block;
                                        flex-shrink: 0;
                                        margin: 0 -.5rem;
                                    }
                                }
                            }
                        }
                    }             

                    .small_img_slider_wrapper {
                        padding: 0;
                        margin-top: 1rem;
                        position: relative;
                        flex-grow: 1;
                        max-width: 100%;

                        .swiper_img_slider.thumb-slider {
                            margin: 0 auto;
                            position: relative;
                            overflow: hidden;
                            padding: 0;
                            z-index: 1;

                            .img_gallery_small.swiper-wrapper {
                                position: relative;
                                width: 100%;
                                height: 100%;
                                z-index: 1;
                                display: flex;
                                transition-property: transform;
                                box-sizing: content-box;
                                .swiper-slide {
                                    width: auto;
                                    max-width: 100%;
                                    height: 100%;
                                    flex-shrink: 0;
                                    position: relative;

                                    .product_zoom_thumbnail_item{
                                        @extend %center-flex;
                                        width: 6.25rem;
                                        height: 6.25rem;
                                        padding: .5rem;
                                        border: solid 1px #e4e4e4;
                                        background-color: #fff;
                                        overflow: hidden;
                                        cursor: pointer;
                                        box-sizing: border-box;
                                        img {
                                            display: inline-block;
                                            height: auto;
                                            max-width: 100%;
                                            max-height: 100%;
                                            opacity: 1;
                                            mix-blend-mode: darken;
                                        }
                                    }

                                    &.active-small-thumbnail .product_zoom_thumbnail_item {
                                        border-color: #e10915;
                                    }
                                }
                            }

                            .swiper-nav {
                                z-index: 1;
                                @extend %center-flex;
                                will-change: opacity;
                                position: absolute;
                                transition-property: opacity;
                                transition-duration: .3s;
                                top: 0;
                                bottom: 0;
                                margin: auto 24px;
                                padding-bottom: 0;
                                &.swiper-button-disabled {
                                    opacity: 0;
                                    animation: a-pointer-events 1s linear forwards;
                                }
                            
                                &.small-slider-nav-prev {
                                    left: 0;
                                    svg.w-dir-left {
                                        transform: rotate(-180deg);
                                    }
                                }

                                &.small-slider-nav-next {
                                    right: 0;
                                }
                            
                                .w-btn {
                                    position: relative;
                                    display: inline-flex;
                                    align-items: center;
                                    flex-shrink: 0;
                                    max-width: 100%;
                                    text-align: left;
                                    cursor: pointer; 
                            
                                    &.w-color-white {
                                        color: rgb(66,66,66);
                                        border-color: rgb(228,228,228);
                                        background-color: rgb(255,255,255);
                                        justify-content: center;
                                        padding: 1rem 1.5rem;
                                        transition-property: background-color, border-color, color, fill, stroke;
                                        transition-duration: .3s;
                                        border-width: 1px;
                                        border-radius: 0;
                                    }
                                    svg {
                                        display: inline-block;
                                        flex-shrink: 0;
                                        margin: 0 -.5rem;
                                    }
                                }
                            }
                            
                        }
                    }
                }
            }

            .r_side {
                padding: 1.25rem 1rem 1.5rem 1rem;
                box-sizing: border-box;
                @media (min-width: 480px) {
                    padding-top: 0;
                    width: 50%;
                }
                @media (min-width: 1025px) {
                    padding-right: 2.5rem;
                    padding-left: 2.5rem;
                    width: 41.666667%;
                }
                @media (min-width: 1420px) {
                    width: 33.333333%;
                }

                .product-details {   
                    margin: 0;     
                    .product-sku {
                        margin: 0;
                        font-size: $font-size-base;
                        line-height: 1.3125rem;
                        padding-bottom: .25rem;
                    }
            
                    h1 {
                        font-size: 20px;
                        line-height: 1.875rem;
                        margin: 0;
                    }
            
                    .wc_tags{
                        margin-bottom: -.5rem;
                        margin-top: .5rem;
                        display: flex;
                        flex-wrap: wrap;

                        .text_tag{
                            background-color: #fff;
                            color: #000;
                            border: solid 1px #e4e4e4;
                            border-radius: .25rem;
                            padding: .25rem .5rem;
                            margin: 0 .5rem .5rem 0;
                            font-size: 14px;
                            line-height: 1.3125rem;
                            cursor: pointer;
                            box-sizing: border-box;
                        }
                    }
                    
                    .pdt_price_wrapper {
                        display: flex;
                        align-items: center;
                        margin-top: 20px;

                        .sale_tag {
                            background-color: $color-background-button;
                            color: #fff;
                            margin-right: 8px;
                            padding: 4px;
                            font-size: 16px;
                            line-height: 20px;
                        }

                        .sale_price {
                            margin: 0;
                            font-size: 16px;
                            line-height: 20px;
                        }

                        .price {
                            margin: 0;
                            font-size: 16px ;
                            line-height: 20px;
                            del {
                                margin-right: 8px;
                            
                                span{
                                    font-weight: 400;
                                }
                            }

                            ins {
                                background: transparent;
                                font-weight: 700;
                            }
                        }
                    }
                                    
                    .stock_shipping_availability {
                        display: flex;
                        flex-wrap: nowrap;
                        margin: 16px 0 20px;
                        .product-shipping {
                            font-size: 14px;
                            line-height: 20px;
                            font-weight: 400;
                            margin: 0;
                            margin-right: 4px !important;
                        }
                        & > .stock {
                            color: #026805;
                            font-weight: 700;
                            display: inline-block !important;
                            margin: 0;
                        }
                    }
            
                    form.cart {
                        display: flex;
                        flex-wrap: nowrap;

                        .custom_select_wrapper {
                            position: relative;
                            margin-right: 8px;

                            .btn_quantity_wrapper {
                                display: flex;
                                align-items: center;
                                @extend %white-btn;
                                &:hover {
                                    background-color: #000;
                                    color: #fff;
                                }
                                .selected_value {
                                    width: 24px;
                                    margin-right: 8px;
                                    font-size: 16px;
                                    
                                }
                                svg {
                                    display: block;
                                }
                            }

                            .custom_options {
                                display: none;
                                position: absolute;
                                top: 110%;
                                left: 0;
                                right: 0;
                                width: 100%;
                                padding: 0;
                                margin: 0;
                                background-color: #fff;
                                color: #424242;
                                box-shadow: 0 0 5px rgba(0, 0, 0, .15);
                                list-style: none;
                                text-align: center;
                                font-size: 16px;
                                font-weight: 700;
                                z-index: 2;

                                &.open {
                                    display: block;
                                }

                                .custom_option {
                                    padding: 8px 20px;
                                    cursor: pointer;
                                    &:hover {
                                        background-color: #000;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                        
                        button.single_add_to_cart_button {
                            @extend %black-btn;
                            margin-right: 8px;
                            flex-grow: 1;
                            justify-content: center;
                            font-weight: 700;
                        }

                        .wishlist_btn {
                            @extend %white-btn;
                            padding: 16px;
                            &:hover {
                                background-color: #000;
                                color: #fff;
                            }
                            svg {
                                display: block;
                            }
                        }
                    }
            
                    .about_product {
                        margin-top: 1.25rem;
                        .list_qualities_pdts {
                            display: flex;            
                            flex-direction: column;
                            .item_pdt {
                                display: flex;
                                margin-bottom: .25rem;
                                svg {
                                    width: 18px;
                                    height: 18px;
                                    flex-shrink: 0;
                                    display: inline-block;
                                    vertical-align: middle;
                                }
                                .text_item {
                                    padding: 0;
                                    padding-left: .5rem;
                                    margin: 0 0 4px 4px;
                                    font-size: $font-size-base;
                                    line-height: 1.3125rem;
                                    text-transform: uppercase;
                                    vertical-align: inherit;
                                }
                            }
                        }
                        h5 {
                            margin-top: 1.25rem;
                            margin-bottom: 0.5rem;
                        }
                        .woocommerce-product-details__short-description {
                            ul {
                            margin: 0; 
                            padding-left: 1rem;
                            li {
                                    font-size: $font-size-base;
                                    line-height: 1.3125rem;
            
                            }
                            }
                            
                        }
                    }
            
                    .woocommerce-product-details__short-description {
                        margin-bottom: 20px;
                    }
            
                    .woocommerce-variation-price {
                        margin-bottom: 20px;
                    }
                }
            }
        }

        .accordion_wrapper {
            width: 100%;
            margin: 2.5rem auto;
            padding: 0;
            display: block;
            h2 {
                margin: 0;
                margin-bottom: 1rem;
                font-size: 36px;
                line-height: 3rem;
                text-align: center;
                font-weight: 400;
            }

            .accordion_product_details {
                background-color: #ededed;
                .accordion_item {
                    width: 100%;
                    position: relative;

                    .accordion_title {
                        .accordion_question{
                            position: relative;
                            @extend %center-flex;
                            width: 100%;
                            max-width: 100%;
                            padding: 1.25rem;
                            font-size: $font-size-button;                            
                            text-align: center;
                            text-transform: uppercase;
                            background-color: #f4f4f4;
                            border-color: #e4e4e4;
                            border-width: 0 0 1px;
                            cursor: pointer;

                            .title {
                                margin-right: .5rem;
                                flex-grow: 1;
                            }
                            svg {
                                transform: rotate(0deg);
                                transition: transform 0.3s ease;
                            }

                            .rotate180 {
                                transform: rotate(180deg);
                                transition: transform 0.3s ease;
                            }
                        }

                    }

                    .accordion_content {
                        overflow: hidden;
                        display: none;
                        &.active {
                            display: block;
                        }
                        .data_wrapper {
                            padding: 3.75rem 0;
                            font-size: $font-size-base;
                            line-height: 1.3125rem;

                            h3 {
                                margin-bottom: .5rem;
                                text-align: center;
                                font-weight: 400;
                            }

                            ul {
                                list-style: none;
                                margin: 0;
                                padding: 0;
                                font-size: $font-size-button;
                                line-height: 1.5rem;

                                li {
                                    padding: .25rem 0;
                                    display: flex;

                                    span {
                                        width: 50%;
                                        &.description_bold {
                                            text-align: right;
                                            padding-right: .5rem;
                                            font-weight: 700;
                                        }
                                        &.answer {
                                            padding-left: .5rem;
                                        }
                                    }
                                }
                            }
                        }

                        .video_wrapper {
                            padding: 1.25rem;

                            .video_container {
                                max-width: 768px;
                                margin: auto;
                            }
                        }

                        .dimensions_wrapper{
                            @extend %center-flex;
                            flex-wrap: wrap;
                            padding: 3.75rem 0;

                            img {
                                display: inline-block;
                                width: 100%;
                                max-width: 400px;
                                height: auto;
                                max-height: 400px;
                                mix-blend-mode: darken;
                                object-fit: contain;
                                cursor: pointer;
                            }
                        }

                        .description_wrapper {
                            padding: 3.75rem 0;
                            font-size: $font-size-base;
                            line-height: 1.3125rem;
                            h3 {
                                margin: 0;
                                padding-bottom: 1.25rem;
                                text-align: left;
                            }
                            .text_description {
                                font-size: $font-size-button;
                                line-height: 1.5rem;
                            }
                        }

                        .delivery_wrapper {

                            .text_delivery {
                                padding: 1.25rem;
                                p, span{
                                    font-size: $font-size-button;
                                    line-height: 1.5rem;
                                }
                            }
                            
                        }

                        .reviews_wrapper {
                            .customer_reviews {
                                padding: 60px 0;

                                .btn_white_hover {
                                    @extend %white-btn;
                                    &:hover {
                                        background-color: #000;
                                        color: #fff;
                                        a {
                                            color: #fff; 
                                        }
                                    }
                                    a {
                                        color: #424242; 
                                        border: none;
                                        text-decoration: none;
                                        &:hover {
                                            background-color: #000;
                                            color: #fff;
                                        }
                                    }
                                    display: block;
                                    margin: 20px auto;
                                }

                                div {
                                    padding: 5px 0 32px 0;

                                    p {
                                        margin: 0;
                                        text-align: center;
                                        font-size: 16px;
                                        line-height: 20px;
                                    }

                                }
                            }
                        }

                        .downloads_wrapper {
                            padding: 3.75rem 0;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            
                            h6 {
                                white-space: nowrap;
                            }
                            .btn_white_hover {
                                @extend %white-btn;
                                width: 20rem;
                                &:hover {
                                    background-color: #000;
                                    color: #fff;
                                    a {
                                        color: #fff; 
                                    }
                                }
                                a {
                                    color: #424242; 
                                    border: none;
                                    text-decoration: none;
                                    &:hover {
                                        background-color: #000;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }            

        }

        .related_products_section {
            padding: 0;
            padding-top: 30px;
            h2 {
                margin: 32px 0 4px 0;
                padding: 0;
                font-weight: 400;
                text-align: center;
            }

            .appropriate_categories {
                .more_categories_wrapper {
                    @extend %center-flex;
                    padding-bottom: 32px;

                    .more_categories_fits {
                        margin-right: 8px;
                    
                        a.category_btn {
                            display: flex;
                            align-items: center;
                            flex-direction: row;
                            flex-wrap: wrap;
                            background-color: #f4f4f4;
                            padding: 16px;
                            text-decoration: none;
                            &:hover {
                                text-decoration: underline;
                            }

                            .card_category_wrapper {
                                margin-right: 16px;

                                img {
                                    display: block;
                                    mix-blend-mode: darken;
                                }
                            }

                            p {
                                margin: 0;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            .more_same_category, .bestseller_same_category, .bestseller_products{
                h2 {
                    margin: 0;
                    margin-bottom: 16px;
                }
                .same_category_wrapper {
                    @extend %center-flex;
                    padding-bottom: 32px;
                }
            }

            .more_same_category, .bestseller_same_category, .interesting_products, .bestseller_products{
                margin-top: calc(72px*(1 - 0));
                margin-bottom: calc(72px* 0);
            }

            .interesting_products {               
                h3 {
                    text-align: center;
                    margin: 0;
                    margin-bottom: 16px;
                }

                .interesting_category_wrapper {
                    @extend %center-flex;
                    .interesting_category {
                        background-color: #e4e4e4;
                        padding: 8px 16px;
                        font-size: 14px;
                        line-height: 21px;
                        border-width: 1px;
                        border-color: transparent;
                        text-decoration: none;
                        &:hover {
                            background-color: #000;
                            color: #fff;
                            text-decoration: underline;
                        }
                    }
                }
            }

            .tabs_wrapper {
                position: relative;
                .swiper-slide {
                    .search_suggestions_product {
                        width: 233px !important;
                        .box_product {
                            .product_img_wrapper {
                            height: 208px;
                            max-height: 208px;
                            }
                            .product_details_wrapper {
                                height: 107px;
                                max-height: 107px;
                                padding: 8px;
                                a.product_details{
                                    display: block;
                                    margin: 0;
                                    height: 100%;
                                    p{
                                        margin: 0;
                                    }
                                    .name-product {
                                        font-size: 14px !important;
                                    }
                                    .pdt_price_wrapper {
                                        margin-top: 4px;
                                        flex-grow: 1;
                                    }
                                }
                            }
                        }
                    }

                }

                .swiper-nav {
                    z-index: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    will-change: opacity;
                    position: absolute;
                    transition-property: opacity;
                    transition-duration: .3s;
                    top: 0;
                    bottom: 0;
                    margin-top: auto;
                    margin-bottom: auto;
                    // padding-bottom: 32px;
                    &.swiper-button-disabled {
                        opacity: 0;
                        animation: a-pointer-events 1s linear forwards;
                    }
                
                    &.swiper-nav-prev {
                        margin-left: 2.5rem;
                        left: 0;
                    }
                
                    &.swiper-nav-next {
                        margin-right: 2.5rem;
                        right: 0;
                    }
                
                    .w-btn {
                        position: relative;
                        display: inline-flex;
                        align-items: center;
                        flex-shrink: 0;
                        max-width: 100%;
                        text-align: left;
                        cursor: pointer; 
                
                        &.w-color-white {
                            color: rgb(66,66,66);
                            border-color: rgb(228,228,228);
                            background-color: rgb(255,255,255);
                            justify-content: center;
                            padding: 1rem 1.5rem;
                            transition-property: background-color, border-color, color, fill, stroke;
                            transition-duration: .3s;
                            border-width: 1px;
                            border-radius: 0;
                        }
                        svg {
                            display: inline-block;
                            flex-shrink: 0;
                            margin: 0 -.5rem;

                            &.w-dir-left {
                                transform: rotate(-180deg);
                            }
                        }
                    }
                }
                
                .swiper-pagination-wrapper {
                    position: absolute;
                    @extend %center-flex;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    height: 1.25rem;
                
                    .swiper-pagination {
                        position: absolute;
                        text-align: center;
                        transition: opacity .3s;
                        transform: translateZ(0);
                        z-index: 10;
                        white-space: nowrap;
                        overflow: hidden;
                        font-size: 0;
                        color: #000;
                        @extend %center-flex;
                
                        .swiper-pagination-bullet  {
                            position: relative;
                            display: inline-block;
                            border-radius: 50%;
                            border: 1px solid rgb(66,66,66);
                            width: 10px;
                            height: 10px;
                            transition: width 0.3s, height 0.3s, opacity 0.3s;
                            background-color: transparent;
                            opacity: 1;
                            cursor: pointer;
                            transform: scale(1);    
                            margin: 0 .3rem;
                
                            &.swiper-pagination-bullet-active{
                                background-color: #000;
                                border-width: 1px;
                                width: 15px;
                                height: 15px;  
                            }
                        }
                    }
                }
            }
        }
    }
}