.faq-page {
    .container-w-gutter {

        .name-page{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;

            h1 {
                width: 100%;
                max-width: 1420px;
                margin: 0;
                padding: 0;
                padding-left: 16px;
                padding-right: 16px;
                padding-top: 16px;
                color: #000;
                text-transform: uppercase;
                text-shadow: none;
                font-size: 24px;
                line-height: 36px;
                text-align: left;
                @include media(">desktop") {
                    font-size: 36px;
                    line-height: 48px;
                    padding-left: 60px;
                    padding-right: 60px;
                    text-align: center;
                }

            }
        }
    

        .breadcrumb_page {
            padding: 8px 16px;
            .woocommerce-breadcrumb {
                font-size: 10px;
                line-height: 16px;
                text-transform: capitalize;
                text-align: right;
                @extend %center-flex;
                justify-content: flex-start;
                
                @include media(">desktop") {
                    justify-content: center;
                    font-size: 12px;
                    line-height: 20px;
                    text-align: center;
                }
                
                .w-breadcrumb {
                    a {
                        display: inline-flex;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .faq-tabs-menu {
            display: flex;
            overflow: auto;
            padding: 0 16px;
            scrollbar-width: thin;
            @include media(">desktop") {
                justify-content: center;
            }

            a {
                margin-right: 4px;
                padding: 8px 16px;
                display: inline-flex;
                font-size: 14px;
                line-height: 21px;
                align-items: center;
                border-width: 1px;
                border-color: transparent;
                text-decoration: none;
                flex-shrink: 0;
                background-color: #e4e4e4;
                cursor: pointer;
                transition-property: background-color, border-color, color, fill, stroke;
                transition-duration: .3s;
                &:hover, &.active {
                    text-decoration: underline;
                    background-color: #000;
                    color: #fff;
                }

            }
        }

        .faq-page-content {
            padding-top: 48px;
            .image-page {
                padding-bottom: 160px;
                @include media("<=desktop") {
                    margin-right: -16px;
                    margin-left: -16px;
                    max-width: none;
                }
                img {
                    vertical-align: middle;
                    max-width: 100%;
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    min-height: 500px;
                    max-height: 700px;
                    object-fit: cover;
                    opacity: 1;
                    transition-property: opacity;
                    transition-duration: .2s;
                }
            }

            .faq-items-content {
                padding-bottom: 160px;
                .container {
                    h2 {
                        margin-bottom: 16px;
                        text-align: center;
                        @include media(">desktop") {
                            margin-bottom: 32px;
                        }
                    }

                    .faq-items-wrapper {
                        .accordion-faq-item {
                            width: 100%;
                            position: relative;
                            .faq-item-title {
                                .faq-question {
                                    padding: 20px;
                                    position: relative;
                                    display: inline-flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 100%;
                                    max-width: 100%;
                                    padding: 20px;
                                    font-size: $font-size-button; 
                                    font-weight: 700;                           
                                    text-align: left;
                                    text-transform: uppercase;
                                    background-color: #f4f4f4;
                                    border: none;
                                    cursor: pointer;
                                    transition-property: background-color, border-color, color, fill, stroke;
                                    transition-duration: .3s;
                                    &:hover {
                                        background-color: #E4E4E4;
                                    }

                                    .title {
                                        margin-right: 8px;
                                        flex-grow: 1;
                                    }
                                    svg {
                                        flex-shrink: 0;
                                        display: inline-block;
                                        transform: rotate(0deg);
                                        transition: transform 0.3s ease;
                                        vertical-align: middle;
                                    }
                    
                                    .rotate180 {
                                        transform: rotate(180deg);
                                        transition: transform 0.3s ease;
                                    }
                                }
                            }

                            .faq-item-content {
                                overflow: hidden;
                                display: none;
                                // transition-property: all;
                                // transition-timing-function: cubic-bezier(.4,0,.2,1);
                                // transition-duration: .3s;
                                &.active {
                                    display: block;
                                }
                                .faq_answer {
                                    background-color: #f4f4f4;
                                    padding: 20px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                   
                                    .text {
                                        font-size: $font-size-base;
                                        line-height: 21px;

                                    }

                                    .button {
                                        margin-top: 16px;
                                        text-align: center;
                                        @include media(">desktop") {
                                            text-align: left; 
                                        }
                                        a {
                                            position: relative;
                                            padding: 16px 24px;
                                            display: inline-flex;
                                            align-items: center;
                                            justify-content: center;
                                            flex-shrink: 0;
                                            width: 100%;
                                            max-width: 100%;
                                            text-align: left;                                     
                                            text-transform: uppercase;
                                            text-decoration: none;
                                            color: #424242;
                                            border-width: 1px;
                                            border-color: #e4e4e4;
                                            background-color: #fff;
                                            cursor: pointer;
                                            transition-property: background-color, border-color, color, fill, stroke;
                                            transition-duration: .3s;
                                            @include media(">desktop") {
                                                width: auto;
                                            }
                                            &:hover {
                                                color: #fff;
                                                background-color: #000;
                                            }
                                        }
                                    }
                    

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}