.site-info {
    .background-gray {
        background-color: $color-background-gray;
    }
    .background-dark-gray {
        background-color: $color-background-dark-gray;
    }
    .footer-container {
        .contain-footer {
            height: auto;
            padding: 3.5rem 0 !important;
            @extend %container;
            &.min-p {
                padding-bottom: 1.5rem !important;
            }
            h4, h3 {
                font-weight: 400 !important;
            }
            div.center-flex {
                @extend %center-flex;
                text-transform: uppercase;
                svg{
                    display: inline-block;
                }

            }
            ul.first-section-footer, ul.third-section-footer {
                list-style: none;
                text-decoration: none; 
                margin: 0;
                padding: 0;
                @extend %flex-start;
                & > li:first-child a {
                    text-transform: uppercase;
                    font-size: 16px;
                }
                a {
                    text-decoration: none;
                }
                & > li {
                    width: 25%;
                    list-style: none; 
                    text-decoration: none; 
                    font-size: 14px;
                    line-height: 2;
                    & > a:hover {
                        text-decoration: underline;
                    } 
                    & > ul.sub-menu {
                        margin: 0;
                        padding: 0;
                        padding-top: 1rem;
                        list-style: none; 
                        text-decoration: none;
                                                
                        & > li {
                            list-style: none; 
                            text-decoration: none;
                            &:first-child {
                                padding-bottom: 1rem ;
                            }
                            a {
                                font-size: 14px;  
                                text-transform: none !important; 
                            }
                            & > a:hover {
                                text-decoration: underline;
                            } 
                        }
                    }

                }
                .mega-menu-col {
                    & > a {
                        display:none;
                    }
                    & > ul.sub-menu {
                        position: static;
                        display: block;
                        box-shadow: unset;
                        padding-top: 0 !important;

                        & > li.menu-item {
                            &:first-child a {
                                font-size: 16px;
                            }
                            & > ul.sub-menu {
                                margin: 0;
                                padding: 0;
                                padding-top: 1rem;
                                list-style: none;
                                text-decoration: none; 
                                & > li a {
                                    font-size: 14px;

                                }
                            }
                        }
                    }


                }
            }
            ul.second-section-footer {
                list-style: none;
                text-decoration: none; 
                margin: 0;
                padding: 1rem 0;
                @extend %flex-start;
                flex-direction: row;

                a {
                    text-decoration: none;
                }

                & > li {
                    width: 25%;
                    & > ul.sub-menu {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        & > li:first-child {
                            padding: 0 !important;
                            & > a {
                                text-transform: uppercase;
                                font-size: 20px;
                                
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                        & > li img.menu-icon-class {
                            width: 24px !important;
                            height: 24px !important;
                            margin-right: 1rem;
                        }
                        & > li {
                            padding: 1.25rem 0;
                            @extend %flex-start;
                            margin-left: 1.25rem;
                            border-bottom: 1px solid white;
                            &:last-child, &:first-child{
                                border-bottom: 0 !important;
                            }
                            & > a {
                                font-size: 14px;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }

                    }
                }

                .mega-menu-col {
                    & > a{
                        display:none;
                    }
                }
            }
            
        }
        @media (min-width: 1840px) {
            .container {
                max-width: 1640px;
            }
        }
        

    }
    .bottom-footer {
        background-color: white !important;
        @extend %center-flex;
        @extend %container;
        padding: 2.5rem !important;
        flex-direction: column !important;
        padding-bottom: 5.75rem !important;
        p{
            padding-top: 1rem;
        }
    }
}