:root {
	--header-height: 130px;
}

header.site-header{
    height: var(--header-height);
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 9998;
    display: none; /* Initially hidden */
}
.channel-kare {
    position: relative !important;
    
    .center-flex {
        position: fixed !important;
        left: 0;
        right: 0;
        bottom: 2% !important;
        @extend %center-flex;
        #btnSkipArrow { 
            display: none;    
            width: 58px;
            height: 58px;
            background-color: #e10915;
            border: none;
            border-radius: 100%;
            cursor: pointer;
            opacity: 0;
            transition: opacity 0.99s ease, transform 0.99s ease;
            transform: translateY(75px);
            &:hover {
                background-color: #fff;
                border: 0.5px solid #e10915;
                color: #fff;
            }
            &.show {
                display: block;
                opacity: 1;
                transform: translateY(0px);
            }
            &.hide {
                display: none;
                opacity: 0;
                transform: translateY(75px);
            }

        }

        z-index: 30 !important;
    }
}

/*@keyframes fadeSlideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeSlideDown {
    from {
        opacity: 1;
        transform: translateY(20px);
    }
    to {
        opacity: 0;
        transform: translateY(0);
    }
}*/

header {
    .nav-top-wrapper {
        .w-1-3 {
            width: $width-1-3;

            .w-btn {
                @extend %white-btn;
                @extend %center-flex;
                height: 49px;
                padding: 16px;
                border: none;
                border-radius: 50px;
                font-size: $font-size-base;
                text-align: left;
                text-transform: none;      
                &:hover {
                    background-color: #fff;
                    color: $color-text;
                    pointer-events: none; 
                    border: none;
                    text-decoration: underline;
                    span {
                        text-decoration: underline;
                    }
                  }
                &#btn-header-search {
                    width: auto;
                }

                span {
                    margin-left: 8px; 
                    &:hover {
                        text-decoration: underline;
                    }
                }

                &.search span{
                    margin-right: 100px;
                }

                &.cart {
                    text-decoration: underline;
                }
            }

            .l-btn {
                @extend %link-btn;
                padding: 0;
                padding-right: 16px;
                cursor: pointer;
                @extend %center-flex;
                span {
                    margin-left: 8px; 
                    &:hover {
                        text-decoration: underline;
                    }
                }
                a{
                    text-decoration: none;
                   
                }
            }

            &.justify-end {
                &:hover {
                    a {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
        display: block;
        background-color: $color-background-gray;
        padding: 1rem 2rem;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        top: 0;  
    }
    .header-menu {
        background-color: $color-background-gray;
        position: absolute;
        z-index: 10;
        width: 100%;
        top: 86px;
        @extend %center-flex;
        .header-menu-tabs-wrapper {
            flex-wrap: wrap;
            min-height: 45px;
            position: initial;
            & > div {
                position: initial;
            }
            .header-menu-button {
                position: initial;
                & > li {
                    padding-bottom: 1.5rem;
                }
                & > .menu-item{
                    position: initial;
                    font-family: $font-family;
                    font-size: $font-size-base;
                    color: $color-text !important;
                    margin: 0 1rem;
                    text-transform: uppercase;

                    a:hover {
                        text-decoration: underline;
                        color: $color-text !important;
                    }

                    & > ul.sub-menu {
                        position: absolute;
                        top: 100%; 
                        left: 0;
                        right: 0;
                        width: 100%;
                        float: none;
                        background-color: $color-background-gray;
                        padding-bottom: 1.5rem !important;
                        padding-top: 1.25rem !important;
                        padding-right: 8.5rem !important;
                        padding-left: 8.5rem !important;
                        display: none;
                        @extend %center-flex;
                        // @extend %container;
                        z-index: 20 !important;
                        box-shadow: 0 0 8px rgba(0, 0, 0, .25) !important;
                        grid-template-columns: repeat(4, 1fr); 
                        column-gap: 40px;

                        & > li {
                            padding: 0 8px !important;   
                            text-transform: none;     
                            // margin: .5rem 0 !important;
                        }

                        .mega-menu-col{
							& > a{
								display:none;
							}
                            & > ul.sub-menu{
								position: static;
								display: block;
								box-shadow: unset;
                            }
                        }

                        & > li.mega-menu-col{
							display: flex;
							flex-grow: 0;
							flex-shrink: 0;
							flex-basis: 25%;
							max-width: 25%;
							flex-direction: column;

                            & > ul{
								&> li{
                                    padding: 0 8px !important;        
                                    margin: 8px 0 !important;
                                    line-height: 1.625;
                                    text-transform: none;
									a:hover {
                                        text-decoration: underline;
                                    }	
								}
							}
                        }

                        & > li.mega-menu-col:first-child{
							flex-grow: 0;
							flex-shrink: 0;
							flex-basis: 20.83333%;
							max-width: 20.83333%;
							flex-direction: column;
							border-left: 1px solid #000;
							display: flex;

                            li{
								padding-bottom: 20px;
								a{
									font-size: 20px;
									font-weight: 700;
									padding-bottom: 0;
								}
							}
						}
                    }
                }
                li.menu-item-has-children:hover > .sub-menu {
                    display: grid;
                    align-items: start;
                }
            }
        }

    }
  
    .login_sidebar, .wishlist_sidebar {
        width: 400px;
        height: 100%;
        position: fixed;
        top: 0;
        right: -400px;
        background-color: #fff;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        transition: right 0.3s ease-in-out;
        z-index: 9999;
        &.active {
            right: 0;
        }

        
        .sidebar-content {
            .top_sidebar{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 8px 16px;
                border-bottom: 1px solid rgb(228, 228, 228);
                .close {
                    font-size: 24px;
                    cursor: pointer;
                    transition-property: background-color,border-color,color,fill,stroke;
                    transition-duration: .3s;
                    background-color: #fff;
                    border-radius: 0;
                    padding: 13px 17px;
                    &:hover{
                        background-color: #000;
                        img{
                            filter: invert(100%) brightness(100%);
                        }
                    }
                }
                h2 {
                    margin: 0px;
                    font-size: 20px
                }
            }
            .bottom_sidebar{
                padding: 20px;
                .register_page{
                    @extend %white-btn;
                    display: block;
                    &:hover{
                        background-color: #000;
                        color: #fff;
                    }
                }
                .accordion_details_wrapper{
                    margin-left: -20px;
                    margin-right: -20px;
                    margin-top: 40px;
                   .title{
                    text-align:left;
                   } 
                   .accordion_content{
                    padding: 20px;
                    background-color: #fff;
                   }
                }
                .contact_title{
                    font-size: 16px;
                    margin-bottom: 5px;
                    margin-top: 10px;
                }
                .contact_mail{
                    @extend %white-btn;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    a{
                        font-size: 16px;
                        font-weight: 700;
                        text-transform: uppercase;
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    &:hover{
                        background-color: #000;
                        a{
                            color:#fff;
                        }
                        img{
                            filter: invert(100%) brightness(100%);
                        }
                    }
                }

                //wishlist popup
                .wishlist_popup_content {
                    .share_wishlist_btn {
                        @extend %black-btn;
                        justify-content: space-between;
                        text-transform: uppercase;
                        white-space: nowrap;
                        font-size: 14px;
                        padding: 16px;

                        svg {
                            margin-left: 8px;
                        }

                    }
                    .wishlist_content {
                        margin-top: 16px;
                        .wishlist-title-container {
                            display: none;
                        }

                        .woocommerce-error {
                            display: none;
                        }

                        .wishlist_table {
                            width: 100%;
                            border-collapse: collapse;

                            thead {
                                display: none;
                            }
                        
                            .wishlist-items-wrapper {
                                @extend %flex-start;
                                flex-wrap: wrap;

                                tr {
                                    position: relative;
                                    margin-top: 20px;
                                    padding-bottom: 20px;
                                    border-bottom: 1px dashed #e4e4e4;
                                    display: grid;
                                    justify-items: end;
                                    justify-content: space-between;
                                    width: 100%;
                                
                                    td {
                                        vertical-align: middle;
                                        padding: 0;
                                        border: none;
                                        
                                        &.product-thumbnail {
                                            grid-row: 1 / 4;
                                            width: 144px;
                                            height: 144px;
                                            max-width: 144px;
                                            padding: 16px;
                                            margin-right: 16px;
                                            border: 1px solid #e4e4e4;
                                            background-color: #f4f4f4;
                                            flex-shrink: 0;
                                            a {
                                                width: 100%;
                                                height: 100%;
                                                max-width: 100%;
                                                img {
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: contain;
                                                    mix-blend-mode: darken;
                                                }
                                            }
                                        
                                        }
                                        &.product-name,
                                        &.product-price,
                                        &.product-add-to-cart {
                                            display: block;
                                            grid-column: 2 / 3;
                                            margin: 0;
                                            padding: 0;
                                        }

                                        &.product-name {
                                            height: 35px;
                                            overflow: hidden;
                                            font-size: 14px;
                                            font-weight: 700;
                                            line-height: 1.2;
                                            text-align: end;
                                            a {
                                                text-decoration: none;
                                                &:hover {
                                                    text-decoration: underline;
                                                }
                                            }
                                            
                                        }

                                        &.product-price {
                                            font-size: 20px;
                                            line-height: 30px;
                                            text-transform: uppercase;
                                            color: #e10915;
                                            font-weight: 700;
                                            margin-top: -28px;
                                            text-align: end;
                                            del {
                                                font-size: 12px;
                                                line-height: 18px;
                                                color: black;
                                                display: block;
                                            }
                                            ins {
                                                background: transparent;
                                            }
                                        }

                                        &.product-add-to-cart { 
                                            padding-top: 4px;
                                            margin-top: -70px;
                                            display: flex;
                                            justify-content: flex-end;
                                            text-align: center;
                                            align-items: flex-end;
                                            a {
                                                display: inline-block;
                                                position: relative;
                                                width: 54px !important;
                                                height: 54px !important;
                                                // line-height: 54px;
                                                padding: 16px 24px !important;
                                                border: 1px solid #e4e4e4 !important;
                                                text-indent: -9999px;
                                                white-space: nowrap;
                                                overflow: hidden;
                                                margin: 0 !important;
                                                &:hover {
                                                    background-color: #000;
                                                    color: #fff;
                                                }

                                                &.add_to_cart_button {
                                                    margin-right: 10px !important;
                                                }
                                            
                                                &::before {
                                                    content: "";
                                                    display: inline-block;
                                                    width: 20px !important;
                                                    height: 20px !important;
                                                    vertical-align: middle;
                                                    background-size: auto;
                                                    background-repeat: no-repeat;
                                                    margin: auto;
                                                    position: absolute;
                                                    top: 50%;
                                                    left: 50%;
                                                    transform: translate(-50%, -50%);  
                                                    filter: invert(35%) sepia(10%) saturate(0%) hue-rotate(180deg) brightness(94%) contrast(92%);                                                                                  
                                                }

                                                &.add_to_cart_button::before {
                                                    background-image: url('/wp-content/themes/kare/dist/images/svg/cart.svg');
                                                }
                                            
                                                &.remove_from_wishlist::before {
                                                    background-image: url('/wp-content/themes/kare/dist/images/svg/bin.svg');
                                                }

                                                &:hover::before {
                                                    filter: brightness(0) invert(1);
                                                }
                                            } 
                                        }                                   
                                    }
                                }
                            }

                        }
                        .yith_wcwl_wishlist_footer {
                            display: none;
                        }
    
                        
                    }
                }
            }
            form{
                &.login{
                    .form-row{  
                        margin-bottom: 10px;   
                        position: relative;                   
                        // label{
                        //     position: absolute;
                        //     width: 1px;
                        //     height: 1px;
                        //     padding: 0;
                        //     margin: -1px;
                        //     overflow: hidden;
                        //     clip: rect(0, 0, 0, 0);
                        //     border: 0;
                        // }
                        label {
                            position: absolute;
                            top: 50%;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 20px;
                            font-size: 16px;
                            color: #000;
                            pointer-events: none;
                            transition: 0.3s ease all;
                            z-index: 1;
                            &.focused{
                                transform: scale3d(.6,.6,1);
                                position: absolute;
                                top: 2px;
                                left: -10px;
                            }
                            &.woocommerce-form-login__rememberme{
                                position: absolute;
                                width: 1px;
                                height: 1px;
                                padding: 0;
                                margin: -1px;
                                overflow: hidden;
                                clip: rect(0, 0, 0, 0);
                                border: 0;
                            }
                        }
                        input{
                            padding: 13px 20px;
                            font-size: 16px;
                            border: 1px solid #ccc;
                            width: 100%;
                            box-shadow: 0 0 0 1000px rgb(244,244,244) inset;
                            border: 1px solid rgb(228, 228, 228);
                            // &:focus ~ label, &:not(:placeholder-shown) ~ label{
                            //     transform: scale3d(.6,.6,1);
                            //     position: absolute;
                            //     top: -10px;
                            //     left: -10px;
                            // }   
                        }
                        button{
                            @extend %black-btn;
                            justify-content: center;
                            text-transform: uppercase;
                            width: 100%;
                            height: 58px;
                        }
                        
                            
                    }
                    
                    .lost_password{
                        a{
                            text-decoration: none;
                            text-align: right;
                            display: block;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }

            }
        }

        #copy-notification {
            background-color: #026805;
            box-shadow: none;
            font-size: 16px;
            font-weight: 400;
            color: #fff;
            position: absolute;
            right: 40px;
            bottom: 20px;
            padding: 16px;
            margin: 8px 24px 8px 16px;
            white-space: nowrap;
            width: min-content;
        }
    }
   
}

