@font-face {
    font-family: 'montserrat';
    font-weight: 200;
    /*(regular)*/
    font-style: light;
    src: url("../fonts/montserrat/static/Montserrat-Light.ttf");
    src: url("../fonts/montserrat/static/Montserrat-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'montserrat';
    font-weight: 400;
    /*(regular)*/
    font-style: normal;
    src: url("../fonts/montserrat/static/Montserrat-Regular.ttf");
    src: url("../fonts/montserrat/static/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'montserrat';
    font-weight: 700;
    /*(regular)*/
    font-style: bold;
    src: url("../fonts/montserrat/static/Montserrat-Bold.ttf");
    src: url("../fonts/montserrat/static/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'montserrat';
    font-weight: 900;
    /*(regular)*/
    font-style: black;
    src: url("../fonts/montserrat/static/Montserrat-Black.ttf");
    src: url("../fonts/montserrat/static/Montserrat-Black.ttf") format("truetype");
}

/* general design for the scroll bars throughout the site */
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none !important; /* hide the arrow-buttons */
}

::-webkit-scrollbar {
    width: 8px; 
    box-shadow: none !important;
}

::-webkit-scrollbar-track {
    background: #fff;
    box-shadow: none !important;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
    box-shadow: none !important;
}

::-webkit-scrollbar-thumb {
    background: #E4E4E4; 
}

::-webkit-scrollbar-thumb:hover {
    background: #f4f4f4;
}

.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

body {
	font-family: $font-family;
	font-weight: 400;
	color: $color-text;
	font-size: $font-size-heading2;
	height: 100vh;
    text-align: left;
    overflow-x: hidden;
}

.center-flex{
    @extend %center-flex;
}

.btn-test {
    @extend %black-btn; 
}

.justify-end {
    @extend %justify-end;

}

main#main-site {
    padding-bottom: 6.25rem;
}

*, :after, :before {
    position: relative;
    box-sizing: border-box;
    border: 0 solid;
}

//FORM FOR ALL SITE PAGE
form{
    .form-row {
        position: relative;
        margin-bottom: 10px;
        input {
          width: 100%;
          padding: 20px 20px 8px 20px;
          font-size: 16px;
          border: 1px solid #e4e4e4;
          outline: none;
          background-color: #f4f4f4;
          border-radius: 0;
        }
        label {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 20px;
          font-size: 16px;
          color: #000;
          pointer-events: none;
          transition: 0.3s ease all;
          z-index: 1;
          &.focused{
            transform: scale3d(.65,.65,1);
            position: absolute;
            top: 3px;
            left: -25px;
          }
        }
    }
}
.woocommerce-notices-wrapper, .woocommerce-NoticeGroup {

    .woocommerce-error {
        background-color: #e10915;
        color: #fff;
        border: 0;
        font-size: 16px;
        list-style-type: none;
        padding: 16px 16px 16px 36px;
        margin: 0 0 20px 0;
        position: relative;
        &::before {
        content: '';
        background-image: url("../images/svg/alert.svg");
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        width: 20px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        filter: invert(1);
        }
        a {
        &:hover {
            color: #fff;
            opacity: .7;
        }
        }
    }

    .woocommerce-message {
        background-color: #026805;
        color: #fff;
        border: 0;
        font-size: 16px;
        list-style-type: none;
        padding: 16px 16px 16px 36px;
        margin: 0 0 20px 0;
        position: relative;
        &::before {
        content: '';
        background-image: url("../images/svg/check-circle.svg");
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        width: 20px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        filter: invert(1);
        }
        a {
        &:hover {
            color: #fff;
            opacity: .7;
        }
        }
    }
}