.register_page{
  margin: auto 16px;
  max-width: 448px;
  @include media(">desktop") {
    margin: auto;
  }
  h1{
    font-weight: 700;
    font-size: 36px;
    color: #000;
    text-align: center;
    line-height: 3rem;
    text-transform: uppercase;
  }
  h2{
    font-size: 18px;
    font-weight: 700;
  }
  .desc_before_field{
      text-align: center;
      font-size: 16px;
  }
      
  .woocommerce-message {
    background-color: #0c6c40;
    color: #fff;
    border: 0;
    border-right: .6180469716em solid rgba(0, 0, 0, .15);
    a {
      &:hover {
        color: #fff;
        opacity: .7;
      }
    }
  }

  form .form-row {
    input[type="date"] {
      direction: ltr;
      text-align: left; 
      padding-right: 30px;
      &::-webkit-calendar-picker-indicator {
        position: absolute;
        right: 5px;
        
      }
    }

    label.focused {
      &[for="reg_phone"] {
        left: 5px;
      }
      &[for="reg_password"] {
        left: 0px;
      }
    }
  
    label.birth_date {
      -webkit-transform: scale3d(0.6, 0.6, 1);
      transform: scale3d(0.6, 0.6, 1);
      position: absolute;
      top: 2px;
      left: -6px;
    }
  
    &.form-select {
      label.user_choice {
        margin-top: 24px;
        display: block;
        position: static;
        display: block;
        margin-bottom: -12px;
      }
  
      .woocommerce-Input--select {
        width: 100%;
        padding: 16px 20px;
        font-size: 16px;
        border: 1px solid #e4e4e4;
        outline: none;
        background-color: #f4f4f4;
        border-radius: 0;
        position: relative;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url(../images/svg/arrow-down.svg); 
        background-repeat: no-repeat;
        background-position-x: 99%;
        background-position-y: 50%;
      }
    }
    
  }
}

