.register_page{
    margin: auto;
    max-width: 448px;
    h1{
      font-weight: 700;
      font-size: 36px;
      color: #000;
      text-align: center;
      line-height: 3rem;
      text-transform: uppercase;
    }
    h2{
      font-size: 18px;
      font-weight: 700;
    }
    .desc_before_field{
        text-align: center;
        font-size: 16px;
    }
    .woocommerce-error {
      background-color: rgb(225,9,21);
      color: #fff;
      border: 0;
      font-size: 16px;
      list-style-type: none;
      padding: 16px 16px 16px 36px;
      margin: 0 0 20px 0;
      position: relative;
      &::before {
        content: '';
        background-image: url("../images/svg/alert.svg");
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        width: 20px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        filter: invert(1);
      }
      a {
        &:hover {
          color: #fff;
          opacity: .7;
        }
      }
    }
    
    .woocommerce-message {
      background-color: #0c6c40;
      color: #fff;
      border: 0;
      border-right: .6180469716em solid rgba(0, 0, 0, .15);
      a {
        &:hover {
          color: #fff;
          opacity: .7;
        }
      }
    }
}




