section.section_slider_categories {
    .section_slider_cat_wrap {
        padding: 40px 16px;
        @media (min-width: 1420px) {
            max-width: 1360px;
            padding: 40px 0;
        }
        @media (min-width: 1840px) {
            max-width: 1640px;
        }
        margin: auto;

        h2 {
            margin-top: 0;
            margin-bottom: 24px;
            font-weight: 400;
            text-align: left;
            @include media(">desktop") {
                text-align: center;
            }

        }

        h5 {
            margin-top: 8px;
            margin-bottom: 4px;
            text-align: center;
        }

        .swiper-container {
            width: 100%;
            overflow: hidden;
        
            .swiper-wrapper {
                position: relative;
                @extend %flex-start;
                transition-property: transform;
                box-sizing: content-box;
                margin-right: 3px;
                height: 100%;
                width: auto;
                max-width: 100%;
                flex-shrink: 0;
                padding-bottom: 40px;
            }
        }

        .tabs_wrapper.simple {
            position: relative;
            .swiper-container {
                // padding-bottom: 40px;
                .swiper-slide {
                    width: auto;
                    max-width: 100%;
                    a {
                        width: 192px;
                        height: 192px;
                        display: block;
                        text-align: center ;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }

                        div {
                            height: calc(100% - 37px);
                            padding: 20px 32px;
                            background-color: $color-background-gray;
                            img {
                                height: 100%;
                                width: 100%;
                                display: inline-block;
                                object-fit: contain;
                                mix-blend-mode: darken !important;
                            }
                        }

                        h3 {
                            white-space: nowrap ;
                            overflow: hidden ;
                            text-overflow: ellipsis ;
                            margin-top: 16px ;
                            font-weight: 400 ;
                            font-size: 16px ;
                            line-height: 21px ;
                            margin-bottom: 0;
                            padding: 0 16px;
                        }
                    }
                }
            }

            .swiper-nav {
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                will-change: opacity;
                position: absolute;
                transition-property: opacity;
                transition-duration: .3s;
                top: 0;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
                padding-bottom: 48px;
                &.swiper-button-disabled {
                    opacity: 0;
                    animation: a-pointer-events 1s linear forwards;
                }

                &.swiper-nav-prev {
                    margin-left: 40px;
                    left: 0;
                }

                &.swiper-nav-next {
                    margin-right: 40px;
                    right: 0;
                }

                .w-btn {
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    flex-shrink: 0;
                    max-width: 100%;
                    text-align: left;
                    cursor: pointer; 

                    &.w-color-white {
                        color: rgb(66,66,66);
                        border-color: #e4e4e4;
                        background-color: #fff;
                        justify-content: center;
                        padding: 16px 24px;
                        transition-property: background-color, border-color, color, fill, stroke;
                        transition-duration: .3s;
                        border-width: 1px;
                        border-radius: 0;
                        &:hover {
                            background-color: #000;  
                            color: #fff;
                        }
                    }
                    svg {
                        display: inline-block;
                        flex-shrink: 0;
                        margin: 0 -8px;
                        &.w-dir-left {
                            transform: rotate(-180deg);
                        }
                    }
                }
            }

            .swiper-pagination-wrapper {
                @extend %center-flex;
            
                .swiper-pagination {
                    position: absolute;
                    display: block;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: opacity .3s;
                    // transform: translateZ(0);
                    z-index: 10;
                    white-space: nowrap;
                    font-size: 0;
                    overflow: hidden;
            
                    .swiper-pagination-bullet  {
                        position: relative;
                        display: inline-block;
                        border-radius: 50%;
                        border: 1px solid #424242;
                        width: 16px;
                        height: 16px;
                        transition-property: all;
                        transition-duration: .2s;
                        background: #000;
                        background-color: transparent;
                        opacity: 1;
                        cursor: pointer;
                        transform: scale(.33);    
                        margin: 0 3px;

                        &.swiper-pagination-bullet-active-next, &.swiper-pagination-bullet-active-prev {
                            transform: scale(.66);
                        }

                        &.swiper-pagination-bullet-active-next-next, &.swiper-pagination-bullet-active-prev-prev {
                            transform: scale(.33);
                        }
            
                        &.swiper-pagination-bullet-active{
                            transform: scale(1);
                            background-color: #000;
                            border-width: 1px;
                        }
                    }
                }
            }
        }

        .tabs_wrapper.rounded_btn {
            position: relative;
            .swiper_slide_cat {
                @extend %center-flex;
                               
                .swiper-slide {
                    max-width: 100%;
                    a {
                        @media (min-width: 1420px) {
                            width: 144px;
                            // height: 144px;
                        }
                        display: block;
                        text-align: center !important;
                        // margin-bottom: 16px;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }

                        div {
                            // height: calc(100% - 43px);
                            // padding: 1.25rem 2rem !important;
                            background-color: $color-background-gray;
                            border-radius: 100%;
                            @extend %center-flex;
                            width: 144px;
                            height: 144px;
                            margin-bottom: 16px;
                            img {
                                @media (min-width: 1420px) {
                                    height: 100px;
                                    width: 100px;
                                }
                                display: inline-block;
                                object-fit: contain;
                                mix-blend-mode: darken !important;
                            }
                        }

                        span {
                            display: block;
                            word-break: break-word;
                            overflow: hidden ;
                            text-align: center;
                            font-size: 12px;
                            font-weight: 700 ;
                            line-height: 18px ;
                            padding: 0 4px;
                        }
                    }
                }
            }
        }
    }
}