.module_banner_celebrity {
    background-color: transparent;
    padding: 0;
    padding-top: 80px;
    padding-bottom: 20px;
    margin-top: 8px;

    .module_celebrity_content {
        background-color: #e4e4e4;
        @include media(">desktop") {
            margin-top: 60px;
            margin-bottom: 60px;
        }

        .container {
            padding-inline-start: 0;
            padding-inline-end: 0;

            .celeb_img_text {
                @include media(">desktop") {
                    display: flex;
                }

                .w-1-2 {
                    @include media(">desktop") {
                        width: 50%;
                    }

                    &.l_side {
                        position: relative;
                        .celeb_image_area{
                            top: 0;
                            bottom: 0;
                            // left: 0;
                            inset-inline-end: 0;
                            @include media(">desktop") {
                                position: absolute;
                                margin: -60px 0;
                                padding: 0 24px;
                            }

                            img {
                                display: inline-block;
                                mix-blend-mode: darken;
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                                object-position: right;
                                border-radius: 99999px;
                            }
                        }
                    }

                    &.r_side {
                        padding: 40px 16px;
                        text-align: left;
                        h2 {
                            margin: 0;
                            text-transform: uppercase;
                            font-size: 20px;
                            line-height: 30px;
                            font-weight: 400;
                            text-align: left;
                            @include media(">desktop") {
                                font-size: 24px;
                                line-height: 36px;
                            }
                        }
                        .module_description {
                            font-size: 14px;
                            line-height: 21px;
                            margin-top: 16px;
                            margin-bottom: 16px;
                            max-height: 128px;
                            overflow: auto;
                            p {
                                margin: 0;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}