.module_50_50 {
    @extend %container;
    padding-top: 20px;
    @include media(">desktop") {
        &.module_50_50_content {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .w-1-2 {
        width: 100%;
        height: 100%;
        @include media(">desktop") {
            width: 50%;
            order: 1;
        }

        .visible_mobile {
            display: block;
            margin-bottom: 16px;
            h2 {
                text-align: var(--dir-left) !important;
                font-weight: 400;
                text-decoration: none;
                margin: 0;
                a {
                    text-decoration: none; 
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            @include media(">desktop") {
                display: none;
                margin: 0;
            }
        }

        h2 {
            font-size: 20px;
            line-height: 30px;
            font-weight: 400;
            text-decoration: none;
            color: #000;
            margin: 0;
            padding-top: 40px;
            @include media(">desktop") { 
                font-size: 24px;
                line-height: 36px;
                display: block;
            }
            &:first-child {
                padding-top: 0;
            }

            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;   
                }
            }
        }
        

        .hero_img_background {
            width: 100% !important;
            height: 100% !important;
            .img_block {
                display: block;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover !important;
                }
            }
        }
    }
}

.module_half_half {
    .hero_content {
        @extend %center-flex;
        flex-direction: column;
        @include media("<=desktop") { 
            padding: 0 !important;
            text-align: var(--dir-left) !important;
        }

        h2.title_hero_content{
            display: none;
            @include media(">desktop") { 
                display: block;
            }
        }

        .text_area_content {
            @include media(">desktop") { 
                margin-top: 8px;
            }
            p {
                margin: 0;
            }
            ul{
                margin: 0;
                padding: 0 16px;
                li{
                    font-size: 14px;
                }
            }
            
        }
        .button_hero_content {
            margin-top: 16px;
            width: 100%;
            @include media(">desktop") { 
                margin-top: 24px;
                width: auto;
            }
            .btn_black_hover {
                justify-content: center;
                width: 100%;
                @include media(">desktop") { 
                    width: auto;
                }
                cursor: pointer;
                &:hover {
                    background-color: #fff;
                    .header-button {
                        color: $color-link; // שינוי צבע טקסט של הלינק בתוך הכפתור
                    }
                }
            }
            .header-button {
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                &:hover {
                    color: $color-link;
                }
            }
        }
    }
}