section.design_banner_wrapper {
    height: 500px;
    max-width: 100%;
    @include media(">desktop") {
        height: 605px;
    }

    .section_image_inner {
        display: block;
        // padding-top: 94px;
        height: 100%;
        & > img {
            position: relative;
            width: 100vw;
            height: 100%;
            object-fit: cover;

            &.img_banner {
                display: none;
                @include media(">desktop") {
                    display: block;
                }
            }
            &.img_mobile {
                display: block;
                @include media(">desktop") {
                    display: none;
                }
            }
        }

        & > button {
            position: absolute;
            top: 50%;
            inset-inline-start: 50%;
            transform: translate(-50%, -50%);
            [dir="rtl"] & {
                transform: translate(50%,-50%);
            }
            background-color: rgb(0 0 0 / 25%);
            backdrop-filter: blur(10px);
            border: 1px solid #fff;
            border-radius: 0;
            @extend %center-flex;
            justify-content: center;
            padding: 16px 24px;
            &:hover {
                background-color: #fff;  
            }
            
            .header-button {
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 200;
                &:hover {
                    background-color: #fff;
                    color: $color-text;

                }
            }
        }
    }
}