section.section_slider_pdts {
    .section_slider_pdts_wrap {
        margin-top: 20px;
        padding: 0 16px;
        @media (min-width: 1840px) {
            max-width: 1640px !important;
        }
        @media (min-width: 1420px) {
            max-width: 1360px;
            padding: 0;
            margin: auto;
        }  
        h2 {
            font-weight: 400;
        }    


        .tabs_wrapper {
            position: relative;
            // padding-bottom: 3rem;
            width: 100%;
            overflow: hidden;

            .swiper-container {
                
                .swiper-wrapper {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    display: flex;
                    box-sizing: content-box; 
                    padding-bottom: 40px;          
                }
            }

            .swiper-nav {
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                will-change: opacity;
                position: absolute;
                transition-property: opacity;
                transition-duration: .3s;
                top: 0;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
                padding-bottom: 3rem;
                &.swiper-button-disabled {
                    opacity: 0;
                    display: none;
                    animation: a-pointer-events 1s linear forwards;
                }
            
                &.swiper-nav-prev {
                    margin-left: 2.5rem;
                    left: 0;
                }
            
                &.swiper-nav-next {
                    margin-right: 2.5rem;
                    right: 0;
                }
            
                .w-btn {
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    flex-shrink: 0;
                    max-width: 100%;
                    text-align: left;
                    cursor: pointer; 
            
                    &.w-color-white {
                        color: rgb(66,66,66);
                        border-color: rgb(228,228,228);
                        background-color: rgb(255,255,255);
                        justify-content: center;
                        padding: 1rem 1.5rem;
                        transition-property: background-color, border-color, color, fill, stroke;
                        transition-duration: .3s;
                        border-width: 1px;
                        border-radius: 0;
                        &:hover {
                            background-color: #000;  
                            color: #fff;
                        }
                    }
                    svg {
                        display: inline-block;
                        flex-shrink: 0;
                        margin: 0 -.5rem;
                        &.w-dir-left {
                            transform: rotate(-180deg);
                        }
                    }
                }
            }
            
            .swiper-pagination-wrapper {
                @extend %center-flex;
            
                .swiper-pagination {
                    position: absolute;
                    display: block;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: opacity .3s;
                    // transform: translateZ(0);
                    z-index: 10;
                    white-space: nowrap;
                    font-size: 0;
                    overflow: hidden;
            
                    .swiper-pagination-bullet  {
                        position: relative;
                        display: inline-block;
                        border-radius: 50%;
                        border: 1px solid #424242;
                        width: 16px;
                        height: 16px;
                        transition-property: all;
                        transition-duration: .2s;
                        background: #000;
                        background-color: transparent;
                        opacity: 1;
                        cursor: pointer;
                        transform: scale(.33);    
                        margin: 0 3px;

                        &.swiper-pagination-bullet-active-next, &.swiper-pagination-bullet-active-prev {
                            transform: scale(.66);
                        }

                        &.swiper-pagination-bullet-active-next-next, &.swiper-pagination-bullet-active-prev-prev {
                            transform: scale(.33);
                        }
            
                        &.swiper-pagination-bullet-active{
                            transform: scale(1);
                            background-color: #000;
                            border-width: 1px;
                        }
                    }
                }
            }

        }
    }
   /* .search_suggestions_product {
    position: relative;
    width: 266px;
    height: 315px;
    cursor: pointer;
    }
    .box_product {
        display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: rgb(244, 244, 244);
    }
    .sale_tag {
        background-color: black;
    border-radius: .25rem;
    padding: .25rem .5rem;
    margin-bottom: .5rem !important;
    /* height: 100%; *
    position: absolute;
    top: 0;
    left: 0;
    /* display: flex; *
    flex-direction: column;
    margin: .5rem;
    }
    .text_sale_percent {
        color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3125rem;
}
.thumbnail  {
    width: 100%;
    position: relative;
    overflow: hidden;
}
img {
    mix-blend-mode: darken;
    width: 100% !important;
    height: 100% !important;
    -o-object-fit: contain !important;
    object-fit: contain !important;
    display: inline-block;
    max-width: 100%;
}*/

}