.module_50_50_with_pdts {
    padding: 0;
    padding-top: 40px;
    @include media(">desktop") {
        display: flex;
        align-items: flex-end;
        padding-top: 20px;
    }
    .visible_mobile {
        h2 {
            padding: 0 16px;
            font-weight: 400;
            text-decoration: none;
            a {
                text-decoration: none; 
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .img_block {
        display: flex !important;
        height: 100%;
    }    
}
.module_half_half_with_pdts {
    .w-1-2.second {
        @include media("<=desktop") {
            padding: 0 16px;
        }
    
        .hero_content {
            @extend %justify-end;
            flex-direction: column;
            width: 100%;
            @include media("<=desktop") { 
                padding: 0 !important;
                text-align: left !important;
            }
            
            h2 {
                margin: 0;
                padding: 0;
                text-align: left;
                font-size: $font-size-heading2;
                font-weight: 400;       
                color: $color-link;
                display: none;
                @include media(">desktop") { 
                    display: block;
                }
                a {
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;   
                    }
                }
            }

            .text_area_content {
                padding-top: 8px;
                padding-bottom: 16px;
                max-height: 144px !important;
                overflow-y: auto !important;
                margin: 16px 0;
                @include media(">desktop") { 
                    padding: 4px 0;
                    padding-bottom: 24px;
                    max-height: 180px !important;
                    margin: 0;
                }
                p {
                    margin: 0;
                }
            }

            .button_hero_content {
                // margin-top: 16px;
                width: 100%;
                @include media(">desktop") { 
                    // margin-top: 24px;
                    width: auto;
                }
                button {
                    margin: 0;
                    margin-bottom: 16px;
                    justify-content: center;
                    width: 100%;
                    cursor: pointer;    
                    @include media(">desktop") { 
                        width: auto;
                        margin: 8px 0;       
                    }
                    &:hover {
                        background-color: #fff;
                        .header-button {
                            color: $color-link; // שינוי צבע טקסט של הלינק בתוך הכפתור
                        }
                    }
                    .header-button {
                        color: #fff;
                        text-decoration: none;
                        text-transform: uppercase;
                        &:hover {
                            color: $color-link;
                        }
                    }
                }    
            }

            .slider_pdts_content {
                width: 100%;
                .tabs_wrapper {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
        
                    .swiper-wrapper {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        display: flex;
                        box-sizing: content-box; 
                        
                        .swiper-slide {
                            .search_suggestions_product {
                                width: 198px !important;
                                height: 260px !important;

                                .product_img_wrapper {
                                    height: 60% !important;
                                    max-height: 60% !important;
                                }
                                .product_details_wrapper {
                                    height: 40% !important;
                                    max-height: 40% !important;

                                    .pdt_price_wrapper {
                                        margin-top: 4px;
                                    }

                                    .stock_status {
                                        height: 16px;

                                        .stock {
                                            height: auto !important;
                                        }
                                    }
                                    
                                }
                            }
                        }
                    }

                    .swiper-nav {
                        z-index: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        will-change: opacity;
                        position: absolute;
                        transition-property: opacity;
                        transition-duration: .3s;
                        top: 0;
                        bottom: 0;
                        margin-top: auto;
                        margin-bottom: auto;
                        &.swiper-button-disabled {
                            opacity: 0;
                            display: none;
                            animation: a-pointer-events 1s linear forwards;
                        }
                    
                        &.swiper-nav-prev {
                            margin-left: 40px;
                            left: 0;
                        }
                    
                        &.swiper-nav-next {
                            margin-right: 40px;
                            right: 0;
                        }
                    
                        .w-btn {
                            position: relative;
                            display: inline-flex;
                            align-items: center;
                            flex-shrink: 0;
                            max-width: 100%;
                            text-align: left;
                            cursor: pointer; 
                    
                            &.w-color-white {
                                color: rgb(66,66,66);
                                border-color: rgb(228,228,228);
                                background-color: rgb(255,255,255);
                                justify-content: center;
                                padding: 16px 24px;
                                transition-property: background-color, border-color, color, fill, stroke;
                                transition-duration: .3s;
                                border-width: 1px;
                                border-radius: 0;
                                &:hover {
                                    background-color: #000;  
                                    color: #fff;
                                }
                            }
                            svg {
                                display: inline-block;
                                flex-shrink: 0;
                                margin: 0 -8px;
                                &.w-dir-left {
                                    transform: rotate(-180deg);
                                }
                            }
                        }
                    }
        
                }
            }
        }
    }
}