$breakpoints: (phone: 320px, tablet: 940px, desktop-small: 1280px, desktop-large: 1400px);

@include media("<=tablet") {
    .hidden-mobile {
        display: none !important; 
    }
}

@include media(">tablet") {
    .hidden-desktop {
        display: none !important;
    }
}