//color
$color-background-body: #fff;
$color-background-button: #000000;
$color-background-gray: #F4F4F4;
$color-background-dark-gray: #E4E4E4;

$color-text: #000000;
$color-link: #000000;
$color-link-hover: #000000;

//fonts
$font-family: 'Montserrat', sans-serif;

$font-size-base: 14px;
$font-size-heading: 24px;
$font-size-button: 16px;
$font-size-heading2: 36px;

//spacing
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

//borders
$border-width: 1px;
$border-color-black: #000000;
$border-color-white: #ffffff;
$border-radius: 0px;

// button
button {
    background-color: $color-background-button;
    $border-radius: 0px;
}
%black-btn {
    padding: 1rem 1.5rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    text-align: left;
    font-family: $font-family;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    background-color: $color-background-button;
    border: none;
    border-radius: 0;
    cursor: pointer;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-duration: .3s;
    border: $border-width solid #e4e4e4;
    &:hover {
        background-color: #fff;
        color: #424242; 
        a {
            color: $color-link;
        }
    }
}

.btn_black_hover {
    @extend %black-btn;
    a {
        color: #fff; 
        border: none;
        text-decoration: none;
        &:hover {
            color: #424242;
            border: $border-width solid #e4e4e4;
        }
    }
}

//setting more
%center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-start {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

%justify-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


%white-btn {
    padding: 1rem 1.5rem;
    width: auto;
    max-width: 100%;
    background-color: #fff;
    border-radius: 0;
    font-family: $font-family;
    font-size: $font-size-button;
    line-height: 20px;
    color: $color-text;
    text-align: center;
    border: $border-width solid #e4e4e4;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
        background-color: #000;
        color: #fff;
    }
}

%link-btn {
    width: auto;
    max-width: 100%;
    background-color: unset;
    border-radius: 0;
    border: none;
    font-family: $font-family;
    font-size: $font-size-base;
    color: $color-text;
    text-align: left;
}

%container {
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 1840px) {
        max-width: 1640px !important;
    }
    @media (min-width: 1420px) {
        max-width: 1360px;
    }
}

h2 {
    font-weight: 700;
    font-size: 36px;
    color: $color-text;
    text-align: center;
    line-height: 3rem;
    text-transform: uppercase;
}

h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: $color-text;
    line-height: 2.25rem;
    text-transform: uppercase;
    
    @media (min-width: 1025px) {
        font-size: 24px;
        line-height: 36px;
    }
        
}

h4 {
    font-weight: 700;
    font-size: 20px;
    color: $color-text;
    line-height: 1.875rem;
    text-transform: uppercase;
}

h5 {
    font-weight: 700;
    font-size: 18px;
    color: $color-text;
    line-height: 1.75rem;
    text-transform: uppercase;
}

h6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $color-text;
    text-transform: uppercase;
    margin: 0;
}


$width-1-3: 33.3333%;


.w-full {
    width: 100%;
}
.text-center {
    text-align: center;
}
.w-1-3 {
    width: $width-1-3;
}
.justify-around {
    justify-content: space-around;
}
p{
    font-size: $font-size-base;
    margin: 0;
}
.pt-3{
    padding-top: 1rem;
}

.container{
    @extend %container;
}